* {
    scroll-behavior: smooth;
}

.gallerytop {
    background: url('https://res.cloudinary.com/dp92qug2f/image/upload/v1678428904/nitsmun/annual%20conference%20photos/day1/IMG_5270_qypxk2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 115vh;
    position: relative;
    background-attachment: fixed;
}

.sdowncont {
    position: absolute;
    top: 70%;
    left: 5%;
}

.gallery-main {
    background-color: var(--color-1-080);
}

.gallertstrts {
    width: 80%;
    margin: 0 auto;
    background-color: #121212;
    margin-top: -15vh;
    position: relative;
    z-index: 2;
    color: white;
    padding: .5vw 1.5vw;
}

.gleryhead {
    width: 70%;
    padding-top: 2.5vw;
    margin: 0 auto;
}

.gallertstrts h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 5.5vw;
}

.selectorgal {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.galactive {
    background-color: var(--color-6-100);
    border-radius: .2vw;
}

.galactive .galbtn {
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);
    color: var(--color-1-100);
}

.day1strts {
    padding: .5vw 1.5vw;
    text-align: left;
    font-size: 1vw;
    line-height: 1.6;
}

.day1txt h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.day1potosstrts {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    display: flex;
    flex-direction: column;
}

.indidayphotos {
    width: 100%;
    flex: none;
    order: 1;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

.imgindiphotodayhlder {
    width: 80%;
    height: 40vw;
    margin: 0vw auto;
}

.imgindiphotodayhlder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
    box-shadow: 0 0 0.1375rem;
}

.loading {
    filter: blur(20px);
    clip-path: inset(0);
}

.loaded {
    filter: blur(0px);
    transition: filter 0.8s linear;
}

.datepubphotos {
    margin: 2.5vw 0;
}

.datepubphotos h3 {
    font-size: 1vw;
    color: var(--color-1-100);
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width:660px) {
    .gallerytop {
        background: url('https://res.cloudinary.com/dp92qug2f/image/upload/v1678427152/nitsmun/annual%20conference%20photos/day1/day1_9_gwgc79.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 110vh;
        position: relative;
    }

    .gallertstrts {
        width: 100%;
        background-color: #121212;
        margin-top: -10vh;
        position: relative;
        z-index: 2;
        color: white;
        padding: .5vw 1.5vw;
    }

    .gleryhead {
        width: 100%;
        margin: 10vw 0;
    }

    .gallertstrts h1 {
        font-size: 8.5vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .day1strts {
        padding: .5vw 1.5vw;
        text-align: left;
        font-size: 3vw;
        line-height: 1.6;
    }

    .selectorgal {
        margin-top: 15vw;
        margin-bottom: 15vw;
    }

    .moredaybtn button {
        font-size: 5vw !important;
    }

    .galactive {
        border-radius: 2.5vw;
        padding: 1vw;
    }

    .galactive .galbtn {
        border-radius: 2vw;
        padding: .5vw 1vw;
    }

    .indidayphotos {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .imgindiphotodayhlder {
        width: 95%;
        height: auto;
        margin: 0vw auto;
    }

    .datepubphotos {
        margin: 5vw 0;
    }

    .datepubphotos h3 {
        font-size: 3vw;
        color: var(--color-1-100);
        font-family: 'Poppins', sans-serif;
    }
}