.archive-top{
    position: relative;
    background: url(../../../../public/Images/archive/archivebg.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px #1f1834b1;
}

.archive-top h1{
    color: white;
    position: absolute;
    font-size: 6vw;
    left: 5%;
    right: 5%;
    top: 35%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    text-align: left;
}

.archive-cont{
    display: flex;
    justify-content: space-between;
}

.archi1{
    width: 57%;
}

.archi2{
    width: 43%;
}

.archi1-1, .archi1-2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.archi2{
    background-color: var( --color-1-080);
}

.archi2-top{
    text-align: center;
    margin-top: 3vw;
}

.archi2-top h1{
    color: white;
    font-size: 5vw;
    font-family: 'Lato', sans-serif;
}

.archi2-cont{
    text-align: center !important;
    padding-left: 12vw;
    margin-top: 3.2vw;
    display: flex;
    align-items: baseline;
}

.archi2-cont0{
    margin-top: 0;
}

.archi2-cont h1{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 3.5vw;
}

.archi-modi{
    margin-left: 3vw;
    font-size: 2vw !important;
    color: white !important;
}

.archi-modi:hover{
    color: black !important;
}

.archi-im-btm{
    padding-bottom: 0 !important;
}

.alter-arch{
    margin-top: 1.8vw;
    padding-left: 6vw;
}

.archive-new-win-custom{
    width: .6vw !important;
    margin-bottom: .5vw;
}

.arhiuy{
    margin-top: 6vw;
}

@media only screen and (max-width:1225px){
    .archive-top h1{
        font-size: 7vw;
        line-height: 1.6;
    }

    .archive-cont{
        flex-direction: column;
    }

    .archi1, .archi2{
        width: 100%;
    }

    .archi2{
        padding-bottom: 15vw;
    }

    .archi2-cont{
        padding-left:35.8vw;
    }

    .alter-arch{
        padding-left: 29.5vw;
    }

    .archi2-top h1{
        font-size: 8vw;
    }
}

@media  only screen and (max-width:1225px) and (min-width:660px){
    .alter-arch{
        padding-left: 31.5vw;
    }
}

@media only screen and (max-width:660px){
    .archi2-cont h1{
        font-size: 5vw;
    }
    
    .archive-top h1{
        font-size: 10vw;
    }

    .archi2-cont{
        margin-top: 0vw;
    }

    .archi-modi{
        font-size: 4.5vw !important;
        margin-left: 2vw;
        margin-top: 3vw !important;
    }

   .archi2-cont1{
    margin-top: 6vw;
   }

   .archive-new-win-custom{
    width: 1.4vw !important;
    margin-bottom: 1.3vw;
}
}

