.mock23-posters{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top:2.5rem;
    margin: 0 auto;
}

.mock-post{
    width: 33.5%;
}

.mock-post img{
    width: 33.5vw;
    pointer-events: none;
}

.mock23-title{
   padding-top: 5vw;
   display: inline-block;
}

.mock23-title h1{
    border-bottom: 3px solid var( --color-1-080);
    color: var(--color-1-100);
    font-family: 'Lato', sans-serif;
    font-size: 3.5vw;
    font-weight: 600;
    text-shadow: .2px .2px 1.3px #3f3434, 
      2px 2px 4px #ba9e9e;
}

.mock23-desc{
    padding:3vw 4vw;
    line-height: 1.6;
    font-size: 1.1vw;
    text-align: left;
}

.mock23-desc h2, sup{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.mock23-txt{
    font-size: 1.3vw !important;
}

.false-off-reg{
    text-decoration: line-through;
}

.lcn-mockmun{
    margin-top: 0 !important;
    margin-bottom: 5vw;
}

.newwinmockbg{
    width: .6vw;
}

.off-reg-msg{
    font-family: 'Playfair Display', sans-serif;
    color: red;
    font-weight: 900;
    font-size: 1.3vw;
    margin-bottom: .7vw;
    margin-top: .7vw;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    75%, 100% {
      opacity: 0;
    }
}

@media only screen and (max-width:1025px) and (min-width:767px){
    .mock23-main{
        min-height: 100vh;
    }
}

@media only screen and (max-width:1000px) and (min-width:661px){
    .newwinmockbg{
        margin-bottom: 0 !important;
        width: .7vw;
    }
}

@media only screen and (max-width:661px){
    .mock23-posters{
        padding-top:2.9rem;
    }

    .mock23-title{
        padding-top: 8vw;
    }

    .mock23-title h1{
        font-size: 7vw;
        letter-spacing: .5px;
        text-shadow: .2px .2px .55px #3f3434, 
      2px 2px 4px #ba9e9e; 
    }

    .mock23-desc{
        font-size: 3.1vw;
        padding: 7vw 4vw;
    }

    .mock23-txt{
        font-size: 3vw !important;
    }

    .lcn-mockmun{
        margin-bottom: 9vw;
    }

    .newwinmockbg{
        width: 1.1vw;
    }

    .off-reg-msg{
        font-family: 'Playfair Display', sans-serif;
        color: red;
        font-weight: 900;
        font-size: 2.7vw;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }
}