.exe23-ko_p{
    width: 100%;
    margin: 4vw 0;
    /* background-color: red; */
    /* min-height: 50vh; */
    display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  scroll-behavior: smooth;
  justify-content: space-between;
}

.exe23-ko_p::-webkit-scrollbar {
    display: none;
}

.eb23-indi__oip{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}

.exe23-img__hlder{
    width: 37%;
    height: 32vw;
    margin-left: 5%;
}

.exe23-img__hlder img{
    width: 100%;
    height: 100%;
    border-radius: 1.2vw;
    filter: grayscale(.5);
    box-shadow: 0 0 0.4375rem;
}

.exe23-img__hlder img:hover{
    filter: grayscale(0);
}

.eb23-indi-abt__pn{
    max-width: 45%;
    text-align:justify;
    margin-right: 5%;
}

.post-eb23__oip{
    text-align: center;
}

.post-eb23__oip h1{
    font-size: 1.6vw;
    color: var(  --color-1-100);
    margin-bottom: 2vw;
    font-family: 'Nunito', sans-serif;
}

.eb23-indi-abt__pn{
    line-height: 1.6;
    font-weight: 500;
}

.eb23-indi-abt__pn h2{
    font-size: 1.3vw;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.hjip__plk{
    margin-top: 0 !important;
    /* margin-bottom: 0 !important; */
}

@media only screen and (max-width:660px){
    .eb23-indi__oip{
       flex-direction: column;
    }

    .exe23-img__hlder{
        width: 85%;
        height: 75vw;
        margin-top: 5vw;
        margin-left: auto;
        margin-right: auto;
    }

    .eb23-indi-abt__pn{
        max-width: 95%;
        text-align:justify;
        margin: 8vw auto;
    }

    .post-eb23__oip h1{
        font-size: 3.5vw;
      margin-bottom: 4vw;
    }

    .eb23-indi-abt__pn h2{
        font-size: 3vw;
    }
}