.top-bner-23 {
    position: relative;
    width: 100vw;
    height: 32vw;
    padding-top: 2.5vw;
    overflow: hidden;
}

.top-bner-23 img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.bg-pvd{
margin-top: 4vw;
    background: url('https://www.linkpicture.com/q/UN-hall.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px #edecc693;
}

.comt-sn{
        background-color: white;
        width: 85%;
        margin: 0 auto;
        /* min-height: 100vh; */
        transform:translateY(-20vh);
        box-shadow: 0px 0px 40px 8px rgb(0 0 0 / 20%);
}

.comt-ipm h1{
    font-size: 2.8vw !important;
    letter-spacing: .5px !important;
    font-weight: 500 !important;
    font-variant: small-caps;
    border-bottom: 2px solid var( --color-1-080);
}

.ntsmn23-rl-cont{
    display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin: 1vw 0;
}

.agnd{
    min-width: 38%;
    box-shadow: 0px 0px 40px 8px rgb(0 0 0 / 20%);
background: linear-gradient(90deg, #ecc2f2 100%, #FECFF1 100%);
    padding: 1.5vw;
    margin: 3vw 0;
    border-radius: 1.5rem;
    border: 3px solid var(--color-1-100);
    padding-bottom: 0;
}

.agnd:hover{
    transform: translateY(-3px);
}

.commt-nme{
    width: 28vw;
    margin-bottom: 1.5vw;
}

.commt-nme h1{
    color: var( --color-1-100);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    font-variant: small-caps;
}

.img-nts23{
    width: 28vw;
    height: 27vw;
    margin: 0 auto;
}

.img-nts23 img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: .625rem;
    /* box-shadow: 0px 0px 40px 8px rgb(0 0 0 / 20%); */
    box-shadow: 0 0 0.2375rem;
}

.comt-txt-imp{
    width: 28vw;
    margin: 1.5vw auto;
}

.comt-txt-imp h2{
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
    text-align: left;
}

.rgster-nts23 button{
    color: white;
    background-color: #842575;
    font-family: 'Nunito', sans-serif;
    padding: .5vw 1vw;
    border-radius: .4vw;
    font-size: 1vw;
}

.rd-mr-0 button{
    color: white;
    background-color: purple;
    padding: .5vw .8vw;
    border-radius: .3vw;
    font-size: .9vw;
    border: 1px solid white;
    font-family: 'Nunito', sans-serif;
    margin: 1.5vw 0;
    font-weight: 500;
    cursor: pointer;
    visibility: hidden;
    transition: all 0.15s ease-out;
}

.agnd:hover .rd-mr-0 button{
    visibility: visible ;
}

/* .link-rd-mr-hid{
    visibility: hidden ;
    padding-bottom: 0 !important;
    transition: all 0.15s ease-in-out;
}

.agnd:hover .link-rd-mr-hid{
    visibility: visible ;
} */
@media only screen and (max-width:660px){
    .bg-pvd{
        margin-top: 8vw;
        }

    .top-bner-23{
        height: 70vw;
        padding-top: 2.9rem;
    }

    .comt-sn{
        width: 95%;
    }

    .comt-ipm h1{
        font-size: 5.7vw !important;
    }

    .ntsmn23-rl-cont{
        flex-direction: column;
    }

    .ntsmn23-rl-cont{
        margin-top: 4vw;
    }

    .agnd{
        width: 92%;
        padding: 4vw;
        margin: 5.5vw auto;
        margin-left: auto;
        margin-right: auto;
    }

    .img-nts23{
        width: 80vw;
       height: 72vw;
        margin: 0 auto;
    }

    .commt-nme{
        width: 80vw;
        margin-bottom: 4vw;
    }

    .commt-nme h1{
        font-size: 5vw;
    }

    .img-nts23 img{
        border-radius: .325rem;
    }

    .comt-txt-imp{
        width: 80vw;
        margin: 3vw auto;
    }

    .comt-txt-imp h2{
        font-size: 4.5vw;
       
    }

    .rgster-nts23 button{
        margin: 2vw 0;
        padding: 1.8vw 4.2vw;
        border-radius: 1vw;
        font-size: 2.7vw;
    }

    .rd-mr-0 button{
        padding: 1.35vw 4vw;
        border-radius: 1.5vw;
        font-size: 2.3vw;
        visibility: visible;
        margin: 3vw 0;
        
    }
}