#main__ebb {
    width: 85%;
    margin: 2vw auto;
    background-color: #E7B4DE;
    border: 2px solid #794894;
    box-shadow: 0px 0px 20px 0px #00000099;
    border-radius: 10px;
}

#nooverflow__eb {
    overflow: hidden;
    border-radius: 20px;
}

#nooverflow__eb img {
    transition: all 0.25s ease-in-out;

}

#nooverflow__eb img:hover {
    transform: scale(1.1);
    border-radius: 10px;
}

@media (max-width:660px) {
    #main__ebb {
        width: 90%;
        margin: 10vw auto;
    }
}