.recruiting-cont{
    max-width: 1600px;
    background-color: rgb(163, 172, 239);
    margin:auto;
    padding: 4rem;
    background: url(https://res.cloudinary.com/dp92qug2f/image/upload/c_scale,w_800,f_auto,fl_lossy/v1676607681/nitsmun/apply_bg_ty7odj.jpg);
    /* background: url(../../../public/Images/Nitsmun\ fb\ \ cover\ page.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input{
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    transition: all 0.2s ease-in-out;

}
input:focus{
    background-color: #c8c3d5;
    transform: scale(1.01);
    /* transition: all 0.3s ease-in-out; */

}

textarea{
    transition: all 0.3s ease-in-out;
}

textarea:focus{
    background-color: #c8c3d5;
    transform: scale(1.01);
}
.recruitingmain{
    /* padding-top: 5vw; */
    font-family: "nunito", sans-serif;
    min-height: 100vh;
    background: rgba(193, 162, 162, 0.2);
    box-shadow: 0 8px 32px 0 rgba(129, 133, 188, 0.37);
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 3rem;
}
.form-header{
    display: flex;
    justify-content: center;
    padding-top: 0rem;
    padding-bottom: 2rem;
    margin: 2rem auto;
    font-family: "Lato", sans-serif;
    font-size: 2vw;

}
.input-a{
    padding: 1vw 1vw;
    font-size: 1.2vw;
    display: block;
    font-family: 'Lato', sans-serif;
    width: 50%;
}
.input-b{
    padding: .5vw 1vw;
    margin-left: 0.5rem;
    display: block;
    font-family: 'Lato', sans-serif;
    width: 30%;
}
.form-branch{
    display: flex;
    margin-top: 2rem;
    width: 80%;
    justify-content:flex-start;
    gap: 1.5vw;
    padding-left: 10%;


}

input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    font-size: 1.1rem;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer; 
  }
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em blue;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
textarea:focus{
    border: 3px solid #555;
}
.form-branch-head{
    padding-right: 5%;
    font-size: 1.1rem;
}
.form-email{
    display: flex;
    justify-content: space-between;
    margin:1rem auto;
    /* padding-left: 10%; */
    width: 80%;
}
label{
    font-weight: 900;
    font-size: 1rem;
}
.form-email-a{
    display: flex;
    width: 60%;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
}
.form-email-b{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-top{
    margin-top: 4vw;
    display: flex;
    justify-content: center;
}
.form-btn-a{
    display: block;
    background-color: var( --color-1-100);
    font-family: 'Lato', sans-serif;
    height: auto;
    width: auto;

    padding: 1.5vw;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1vw;
}
.input-c{
    padding: 1vw 1vw;
    font-size: 1.2vw;
    display: block;
    font-family: 'Lato', sans-serif;
    width: 50%;
}
.input-d{
    padding: 1vw 1vw;
    font-size: 1.2vw;
    display: block;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
.form-contact{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}
.input-e,.input-f{
    padding: 1vw 1vw;
    font-size: 1.2vw;
    display: block;
    font-family: 'Lato', sans-serif;
    width: 48%;

}
.input-g{
    padding: 1vw 1vw;
    font-size: 1.2vw;
    display: block;
    font-family: 'Lato', sans-serif;
    min-width: 5rem;

}
.form-team{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.team-label{
    display: flex;
    gap: 1rem;
    
}
.team-options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-options{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 1rem;
    margin: 1rem auto;
}
.form-text-a,.form-text-b,.form-text-c,.form-text-d,.form-text-e,.form-text-f,.form-text-g{
    height: 5rem;
    font-size: 1.2vw;
    display: block;
    font-family: 'Lato', sans-serif;
}
textarea{
    padding: 1rem;
}
.form-text-input{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.form-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    width: 80%;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}
.form-submit{
    padding: 1vw 3vw;
    font-weight: 700;
    cursor: pointer;
    background-color: var( --color-1-100);
    border-radius: 8px;
    color: white;
    font-size: 1.5vw;
    border: 2px solid black;
    transition: ease-in-out 0.3s;
}

.form-submit:hover{
    transform: scale(1.05);
}

.form-value{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.team-head{
    color: black;
    font-size: 1.25vw;
    margin: 1vw 0 ;
    font-family: "Nunito",sans-serif;
    font-weight: 500;
}

#sendotpmsgid{
    font-size: 1.25vw;
    color: white;
    font-weight: 600;
}

#importantinstructionsifcont h2{
    font-size: 1.5vw;
    font-weight: 600;
    color: black;
    margin: 2vw 0;
    text-decoration: underline;
    font-family: "Nunito",sans-serif;
}

#importantinstructionsifcont p{
    font-size: 1.25vw;
    font-weight: 600;
    text-align: left;
    margin: .75vw 0;
}

.points-list-out-ul{
    width: 80%;
    margin: 1vw auto;
}

.points-list-out-ul p {
    font-family: 'Nunito',sans-serif;
    font-weight: 500 !important;
}

#msgverifyingimpot{
    font-size: 1.5vw;
    color: white;
    margin: 2vw auto;
    font-family: "Nunito", sans-serif;
}

#rddesign{
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
}
@media(max-width:600px) {
    .recruiting-cont{
        padding: 2rem;
    }
    input[type="radio"]{
    font-size: 1rem;
    width: 1em;
    height: 1em;
    }
    .input-a,.input-b,.input-c,.input-d,.input-e,.input-f{
        font-size: 2.5vw;
    }
    .input-g{
        font-size: 2vw;
    }
    .form-text-a,.form-text-b,.form-text-c,.form-text-d,.form-text-e,.form-text-f,.form-text-g{
        font-size: 2.5vw;
    }
    .team-head{
        font-size: 0.8rem;
    }
    .form-header{
        font-size: 1.1rem;
        padding-bottom: 0;
    }

    #importantinstructionsifcont p{
        font-size: 2.5vw;
        margin: 2vw 0;
    }

    #importantinstructionsifcont h2{
        font-size: 3vw;
        margin: 4vw 0;
    }

    .form-top{
        margin-top: 8vw;
    }

    .form-btn-a{
        padding: 1.5vw ;
        border-radius: 10px;
        font-size: 2vw;
        margin-left: 2vw;
    }

    .form-submit{
        padding: 2vw 6vw;
        font-size: 3vw;
    }
}

@media(max-width:450px) {
    .recruiting-cont{
        padding: 1rem;
    }
    input[type="radio"]{
    font-size: 1rem;
    width: 0.8em;
    height: 0.8em;
    }
    label{
        font-weight: 900;
        font-size: 0.7rem;
    }
    .input-a,.input-b,.input-c,.input-d,.input-e,.input-f,.input-g{
        font-size: 2.5vw;
    }
    .form-text-a,.form-text-b,.form-text-c,.form-text-d,.form-text-e,.form-text-f,.form-text-g{
        font-size: 0.5rem;
    }
    .team-head{
        font-size: 0.7rem;
    }
    .form-header{
        font-size: 1.1rem;
        padding-bottom: 0;
    }

    #msgverifyingimpot{
        font-size:3vw;
        margin: 4vw auto;
    }
}