.apply-container{
    min-height: 115vh;
    width: 100%;
    background-color: var(--color-1-100);
    background: url(https://res.cloudinary.com/dp92qug2f/image/upload/c_scale,w_700,f_auto,fl_lossy/v1676607681/nitsmun/apply_bg_ty7odj.jpg);
    /* background: url(../../../public/Images/Nitsmun\ fb\ \ cover\ page.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: inset 0 0 0 1000px rgba(1, 51, 91, 0.712); */
    box-shadow: inset 0 0 0 1000px #1f1834b7;
    background-attachment: fixed;
}

.img-apply img{
    margin: 14vh 0 5vh 0vh;
    width: 17%;
    object-fit: contain;
    pointer-events: none;
}



/* .apply-container a{
    margin-top: 3vh;
    padding: 0.9375rem 1.25rem;
    width: 70%;
    display: inline-block;
    background-color: var(--color-4-100);
    color: var(--color-5-100);
    font-weight: 900;
    line-height: 1.6;
    border-radius: 1.875rem;
    font-size:1.1875rem;
    font-variant: small-caps;
    transition: transform 0.25s cubic-bezier(0.27, 0.49, 0.62, 1.47) 0s, background-color 0.25s cubic-bezier(0.27, 0.49, 0.62, 1.47) 0s;
}

.apply-container a:hover{
    transform: scale(1.02);
    color: black;
    font-weight: 900;
    background-color: var(--color-6-100);
}

.apply-container a:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem #e2564f;
    transition: 0.5s;
  }

.apply-container a:active
          {
              box-shadow: 1px 1px 1px 1px #e2564f;
              transform: translateY(2px);
          }  */


@media only screen and (max-width: 1000px){
    .img-apply img{
        /* width: 8.75rem; */
        width: 11rem;
        margin-top: 13vh !important;
    }

    .apply-container{
        height: 75vh;
    }

    /* .apply-container a{
        width: 90%;
        font-size: 0.875rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        margin-top: 2vh !important;
    } */
}


@media only screen and (min-device-width: 1001px) and (max-device-width: 1025px){
            .img-apply img{
                width: 9.375rem;
                padding-top: 2.5rem;
            }

            /* .apply-container a{
                font-size: 0.875rem;
            } */
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1000px){
    .apply-container{
        height: 95vh;
    }

    .img-apply img{
        width: 25rem;
        margin: 7vh 0 1vh 0vh;
        padding-top: 0.625rem;
    }

    /* .apply-container a{
        font-size: 1.125rem;
        margin-top: 4vh !important;
    } */
}


/* For extra small devices */
@media only screen and (max-width:280px){
    .img-apply img{
        width: 9.375rem;
        margin-top: 10vh;
        margin-bottom: 10vw;
    }

    /* .apply-container a{
        width: 90%;
        font-size: 0.625rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    } */
}

.application-btn{
    display: inline-block;
    /* display: block; */
    cursor: pointer;
    width: 70%;
    margin: 1.5vh auto;
    background-color: var(--color-4-100);
    background-color: var( --color-1-080);
    border: 2px solid var(--color-6-100);
    color: var(--color-5-100);
    font-weight: 600;
    line-height: 1.6;
    border-radius: 1.875rem;
    font-size:1.1875rem;
    font-variant: small-caps;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    transition: transform 0.25s cubic-bezier(0.27, 0.49, 0.62, 1.47) 0s, background-color 0.25s cubic-bezier(0.27, 0.49, 0.62, 1.47) 0s;
    padding: 1rem 0;
}

.application-btn:hover{
    transform: scale(1.02);
    color: black;
    /* font-weight: 900; */
    background-color: var(--color-6-100);
    border: 2px solid #c67382;
    color: var(--color-1-100);
}

.application-btn:focus{
    outline: none;
    box-shadow: 0 0 0 0.25rem #e2564f;
    transition: 0.5s;
}

.application-btn:active{
    box-shadow: 1px 1px 1px 1px #e2564f;
              transform: translateY(2px);
}

.apply-display{
    /* background-color: var(--color-1-100); */
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.msg-apply{
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    color: transparent;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 4.5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    font-weight: 900;
}

.apply-redirect{
    color: white;
    font-size: 2vw;
    font-family: 'Nunito', sans-serif;
    /* display: flex; */
    align-items: flex-start;
}

.apply-redirect:hover{
    color: var(--color-1-080);
}

.newwindow{
    margin-bottom: .3vw;
    width: 1.2vw;
    height: 1.2vw;
}


@media only screen and (max-width:1000px){
    .application-btn{
        width: 90%;
        font-size: 0.875rem;
    }

    .apply-redirect{
        font-size: 4vw;
        width: 90%;
        border-radius: 5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .newwindow{
        width: 2vw;
        height: 2vw;
        margin-bottom: 1vw;
    }
}

@media only screen and (min-device-width: 1001px) and (max-device-width: 1025px){
    .application-btn{
        font-size: 0.875rem;
    }
}

@media only screen and (max-width:660px){
    .msg-apply{
        font-size: 2.5rem;
    }

    .apply-container{
        background-attachment: scroll;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1000px){
    .application-btn{
        font-size: 1.125rem;
        /* margin-top: 4vh !important; */
        /* margin: 2rem auto !important; */
    }

    .apply-display{
        padding-top: 3rem;
    }

    .img-apply img{
        width: 25vw;
    }
}

@media only screen and (max-width:280px){
    .application-btn{
        width: 90%;
        font-size: 0.625rem;
    }

    .msg-apply{
        font-size: 2rem;
    }
}

@media only screen and (max-height:600px){
    .application-btn{
        padding: .8rem 0;
        margin-top: 1.2rem !important;
        margin-bottom: 1.2rem !important;
    }

    .apply-container{
        min-height: 170vh;
    }
}


@media only screen and (max-height:576px){
    .apply-container{
        padding-top: 10vh;
    }

    .img-apply img{
        width: 10rem;
    }

    .apply-container{
        min-height: 160vh;
    }
}

@media only screen and (max-height:460px){
    .apply-container{
        min-height: 180vh;
    }

    .application-btn{
        padding: .4rem 0;
    }
}

@media only screen and (max-height:350px){
    .apply-container{
        min-height: 190vh;
    }
}

@media only screen and (max-height:320px){
    .apply-container{
        min-height: 220vh;
    }
}

@media only screen and (max-height:281px){
    .application-btn{
        padding: .3rem 0;
    }

    .apply-container{
        min-height: 250vh;
    }
}