.apply-container{
    height: 95vh;
    width: 100%;
    background: linear-gradient(135deg, #e2564f 0%, #360940 100%);
}
.img-apply img{
    margin: 15vh 0 1vh 0vh;
}
.apply-container a{
    padding: 20px;
    width: 70%;
    display: inline-block;
    background-color: whitesmoke;
    color: #e2564f;
    font-weight: 900;
    line-height: 1.6;
    border-radius: 30px;
    font-size: 16px;
}
.apply-container a:hover{
    color: whitesmoke;
    background-color: #e2564f;
    transition: 0.3s ease-out;
}

@media only screen and (max-width: 1000px){
    .img-apply img{
        width: 250px;
    }
    .apply-container{
        height: 75vh;
    }
    .apply-container a{
        width: 90%;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media only screen and (min-device-width: 1001px) and (max-device-width: 1025px){
            .img-apply img{
                width: 300px;
                padding-top: 20px;
            }

}