@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.articles-heading-cont h1{
    color: #f1f1f1;
    font-size: 26px;
    font-weight: bold;
}
.articles-heading-cont{
    width: 100%;
    text-align: center;
    padding: 10px;
    background: linear-gradient(135deg, #e2564f 0%, #360940 100%);
}
@media screen and (max-width: 700px){
    .articles-heading-cont h1{
        font-size: 15px;
    }
}
.articles-section{
    margin-top: 6vh;
    /* padding-top: 20px; */
    
}
.article-flexing{
    display: flex;
}
.article-content h1{
    font-size: 32px;
    color: #212529;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}
.article-content{
    text-align: center;
    margin: 30px;
}
/* image css */
.img-holder img{
    height: 350px;
    border-radius: 5%;
}
.img-holder{
    padding: 25px;
    margin: -30px 40px 20px 100px;
    text-align: center;
    min-height: 200px;
}

.post-date h3{
    font-style: italic;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 17.6px;
    color: #212529;
}
.post-date {
    text-align: center;
}
.article-cont1{
    text-align: justify;
    text-align-last: left;
    font-size: 1.1rem;
    color: #222226;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 30px;
    margin-right: 110px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

/* Button CSS */
.read-more-btn, .read-less-btn{
    padding: 10px;
    background: linear-gradient(135deg, #e2564f 0%, #360940 100%);
    color:white;
    cursor: pointer;
    border-radius: 25px;
    transition: 1s;
}
.read-more-btn:hover{
        background: #161c2f;
        color: white;
}





@media only screen and (max-width: 991px){
    .article-flexing{
        display: block;
    }
    .article-content{
        margin: 0 0 10px 0;
        letter-spacing: 0.5px;
        padding: 15px 5px;
    }
    .article-content h1{
        font-size: 18.5768px;
        font-weight: 700;
    }
    .img-holder img{
        height: 270px;
        /* border-radius: 5%; */
    }
    .img-holder{
        padding: 25px;
        margin: -30px 10px 0px 10px;
        text-align: center;
        min-height: 200px;
    }
    .article-cont1{
        margin: 0;
        font-size: 16.6px;
        word-spacing: 1px;
        /* line-height: 1px; */
        padding-top: 10px;
        font-family: 'Montserrat', sans-serif;
    }
}









