@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.apply-home-h1{
    color: #212529;
    font-weight: 600;
}
.articles-heading-cont h1{
    color: var(--color-5-100);
    font-size: 1.875rem;
    font-weight: bolder;
    font-variant: small-caps;
}
.articles-heading-cont{
    width: 100%;
    text-align: center;
    margin-top: 3.125rem;
    padding: 1.3125rem 0 0.75rem 0;
    background-color: var( --color-1-100);
}
@media screen and (max-width: 700px){
    .articles-heading-cont h1{
        font-size: 1.125rem;
    }
    .articles-heading-cont{
        margin-top: 3.125rem;
        padding-bottom: 0.9375rem;
    }
}

.article-main-content{
    background-color: rgba(250, 247, 241, 0.619);
}

.article-flexing{
    display: flex;
}

.article-content h1{
    font-size: 2.4rem;
    color: var(--color-1-100);
    font-variant: small-caps;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.article-content{
    text-align: center;
    margin: 1.875rem;
}

/* image css */
.img-holder img{
    height: 21.875rem;
    border-radius: 5%;
}

.img-holder{
    padding: 1.5625rem;
    margin: -15px 2.5rem 1.25rem 6.25rem;
    text-align: center;
    min-height: 12.5rem;
}

.post-date h3{
    font-style: italic;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: var(--color-1-100);
}

.post-date {
    text-align: center;
}

.article-cont1{
    text-align: justify;
    text-align-last: left;
    font-size: 1.1rem;
    color: #222226;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 1.875rem;
    padding-top: 0.8rem !important;
    margin-right: 6.875rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

/* Button CSS */
.read-more-btn, .read-less-btn {
    background-color: var(--color-1-100);
    border-radius: 5px;
    color: white;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.25rem;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .read-more-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #e2564f;
    transition: 0.7s;
}

.read-less-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #e2564f;
    transition: 0.7s;
}

.read-more-btn:active
        {
            box-shadow: 4px 4px 4px 4px #666;
            transform: translateY(10px);
        }

        .read-less-btn:active
        {
            background-color: #e91616ce;
            box-shadow: 4px 4px 4px 4px #666;
            transform: translateY(10px)
        }

 .read-more-btn:hover {
    background-color: var(--color-4-100);
    color: white;
    border-radius: 5px;
    border: solid linear-gradient(135deg, #e2564f 0%, #360940 100%) 1px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
 }

 .read-less-btn:hover {
    background-color: var(--color-4-100);
    transition: 0.5s ease-in-out;
    color: white;
    border-radius: 5px;
    border: solid linear-gradient(135deg, #e2564f 0%, #360940 100%) 1px;
    text-decoration: none;
}

@media only screen and (min-device-width:1001px) and (max-device-width:1420px) {
    .article-cont1{
        margin: 0;
        padding-right: 2.5rem;
        font-size: 1.125rem;
        line-height: 1.6;
        padding-top: 0.625rem;
    }

    .img-holder{
        margin-right: 1.25rem;
        margin-left: 1.5625rem;
    }

    .post-date{
        padding-bottom: 0rem;
    }

    .article-content h1{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1000px){
    .article-flexing{
        display: block;
    }

    .article-content{
        margin: 0 0 10px 0;
        letter-spacing: 0.5px;
        padding: 0.9375rem 0.3125rem;
    }

    .post-date{
        /* padding-bottom: 0.625rem; */
        padding-bottom: 0rem !important;
    }

    .post-date h3{
        font-size: 1.2rem;
    }

    .article-content{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .article-content h1{
        /* font-size: 1.16105rem; */
        font-size: 1.7rem;
        font-weight: 900;
    }

    .img-holder img{
        height: 16.875rem;
        /* border-radius: 5%; */
    }

    .img-holder{
        padding: 1.5625rem;
        margin: -30px 0.625rem 0px 0.625rem;
        text-align: center;
        min-height: 12.5rem;
    }

    .article-cont1{
        margin: 0;
        font-size: 1.107rem;
        word-spacing: 1px;
        padding-left: 1.17265625rem;
        padding-right: 1.17265625rem;
        padding-top: 0.625rem;
        font-family: 'Montserrat', sans-serif;
    }

    .read-more-btn, .read-less-btn{
        background-color: var(--color-1-100);
        color: whitesmoke;
        transition: all 0.3s ease-in;
        font-size: 0.625rem;
        border-radius: 0.3125rem;
        padding: 0.5rem 1.125rem;
    }
}

/* for galaxy fold devices*/
@media only screen and (max-width:320px){
    .img-holder img{
        height: 14.375rem;
    }
    
    .img-holder{
        margin-left: 0;
        margin-right: 0;
    }

    .post-date h3{
        font-size: 1.0rem;
    }


    .post-date{
        padding-bottom: 0rem;
    }

    .article-cont1{
        font-size: 0.8rem;
        padding-left: 1.17265625rem;
        padding-right: 1.17265625rem;
    }

    .article-content{
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
    .article-content h1{
        font-size: 1.4rem;
        font-weight: 900;
    }

    .read-more-btn, .read-less-btn{
        font-size: 0.625rem;
        border-radius: 0.3125rem;
        padding: 0.375rem 0.9375rem;
    }

    
}

.art-art-title {
    padding: 1.5rem 0 2rem 0;
    display: inline-block;
    text-align: center;
}

.apply-art-h1 {
    text-align: center;
    color: var(--color-1-100);
    font-weight: 900;
    font-size: 1.901rem;
    font-variant: small-caps;
}

.apply-art-h1 a {
    color: #1994a5;
}

@media only screen and (max-width:991px){
    .art-art-title {
        padding: 0.1875rem auto;
        padding-top: 0.6rem !important;
        padding-bottom: 0.8rem !important;
    }

    .apply-art-h1 {
        font-size: 1.151rem;
        padding: 0 0.9rem;
      }

      .apply-art-h1 a {
        font-size: 1.151rem;
      }
}

.article-cont1::first-letter{
    color: var(--color-1-100);
    font-size: 200%;
    font-weight: 700;
}







