@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@r1,2r00&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.top-bg-segment {
    background-image: url(https://res.cloudinary.com/dp92qug2f/image/upload/c_scale,w_800,f_auto,fl_lossy/v1676607681/nitsmun/apply_bg_ty7odj.jpg);
    padding-top: 8rem;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: inset 0 0 0 1000px rgba(1, 51, 91,0.5); */
    box-shadow: inset 0 0 0 1000px #1f1834b7;
}

.top-bg-segment h1 {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 5rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.top-bg-segment h2 {
    position: absolute;
    top: 55%;
    left: 10%;
    font-size: 4.5rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.chevron-down {
    position: absolute;
    left: 49%;
    top: 85%;
}

.chevron-down {
    animation: uptodown 0.5s alternate ease infinite;
}

.chevron-down:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes uptodown {
    from {
        transform: translateY(5px);
    }

    to {
        transform: translateY(-5px)
    }
}

.apply-home-h1 {
    color: #212529;
    font-weight: 600;
}

.articles-heading-cont {
    padding: 3vh 0;
}

.articles-heading-cont h1 {
    text-align: center;
    color: var(--color-1-100);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    border-bottom: 4px dotted var(--color-1-100);
    display: inline-block;
}

@media only screen and (max-width:660px) {
    .articles-heading-cont h1 {
        font-size: 1.5rem;
    }

    .top-bg-segment {
        background-attachment: scroll;
    }
}

.article-flexing {
    display: flex;
}

.article-content h1 {
    font-size: 2.2rem;
    color: var(--color-1-100);
    font-variant: small-caps;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* text-transform: uppercase; */
    font-weight: 900;
}

.article-content {
    text-align: center;
    margin: 1.875rem;
}

/* image css */
.img-holder img {
    height: 21.875rem;
    box-shadow: 0 0 0.9375rem;
    border-radius: 0.625rem;
    pointer-events: none;
}

.img-holder {
    padding: 1.5625rem;
    margin: -15px 2.5rem 1.25rem 6.25rem;
    text-align: center;
    min-height: 12.5rem;
}

.last-up {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 1vh !important;
    border-bottom: 1px dotted var(--color-1-100);
}

@media only screen and (max-width:991px) {
    .last-up {
        width: 40%;
    }

    .last-up h5 {
        font-size: 0.6rem;
    }
}

.post-date h3 {
    font-style: italic;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    font-size: 1.18rem;
    color: var(--color-1-100);
}

.post-date {
    text-align: center;
}

.article-cont1 {
    text-align: left;
    text-align-last: left;
    font-size: 1.2rem;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    padding: 1.875rem;
    padding-top: 0.8rem !important;
    margin-right: 6.875rem;
    line-height: 1.6;
    letter-spacing: 0.2px;
}

/* Button CSS */
.read-more-btn,
.read-less-btn {
    background-color: var(--color-1-100);
    border-radius: 5px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1.25rem;
    border: 2px solid #161c2f;
    /* letter-spacing: .1px; */
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.read-more-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #e2564f;
    transition: 0.7s;
}

.read-less-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #e2564f;
    transition: 0.7s;
}

.read-more-btn:active {
    box-shadow: 4px 4px 4px 4px #666;
    transform: translateY(10px);
}

.read-less-btn:active {
    background-color: #e91616ce;
    box-shadow: 4px 4px 4px 4px #666;
    transform: translateY(10px)
}

.read-more-btn:hover {
    background-color: var(--color-4-100);
    color: white;
    border-radius: 5px;
    border: 2px solid #a4606c;
    text-decoration: none;
    transition: 0.25s ease-in;
}

.read-less-btn:hover {
    background-color: var(--color-4-100);
    transition: 0.5s ease-in-out;
    color: white;
    border-radius: 5px;
    border: solid linear-gradient(135deg, #e2564f 0%, #360940 100%) 1px;
    text-decoration: none;
}

@media only screen and (min-device-width:1001px) and (max-device-width:1420px) {
    .article-cont1 {
        margin: 0;
        padding-right: 2.5rem;
        font-size: 1.125rem;
        line-height: 1.6;
        padding-top: 0.625rem;
    }

    .img-holder {
        margin-right: 1.25rem;
        margin-left: 1.5625rem;
    }

    .post-date {
        padding-bottom: 0rem;
    }

    .post-date h3 {
        font-size: 1.18rem;
    }

    .article-content h1 {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .article-flexing {
        display: block;
    }

    .article-content {
        margin: 0 0 10px 0;
        letter-spacing: 0.5px;
        padding: 0.9375rem 0.3125rem;
    }

    .post-date {
        /* padding-bottom: 0.625rem; */
        padding-bottom: 0rem !important;
    }

    .post-date h3 {
        font-size: 1.13rem;
    }

    .article-content {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .article-content h1 {
        /* font-size: 1.16105rem; */
        font-size: 1.5rem;
        font-weight: 900;
    }

    .img-holder img {
        height: 16.875rem;
        /* border-radius: 5%; */
    }

    .img-holder {
        padding: 1.5625rem;
        margin: -30px 0.625rem 0px 0.625rem;
        text-align: center;
        min-height: 12.5rem;
    }

    .article-cont1 {
        margin: 0;
        font-size: .95rem;
        word-spacing: 1px;
        padding-left: 1.17265625rem;
        padding-right: 1.17265625rem;
        padding-top: 0.625rem;
        /* font-family: 'Montserrat', sans-serif; */
    }

    .read-more-btn,
    .read-less-btn {
        background-color: var(--color-1-100);
        color: whitesmoke;
        transition: all 0.3s ease-in;
        line-height: 1.8 !important;
        font-size: 0.9rem;
        border-radius: 0.3125rem;
        padding: 0.4rem 1.750rem;
    }
}

/* for galaxy fold devices*/
@media only screen and (max-width:320px) {
    .img-holder img {
        height: 14.375rem;
    }

    .img-holder {
        margin-left: 0;
        margin-right: 0;
    }

    .post-date h3 {
        font-size: 0.9rem;
    }


    .post-date {
        padding-bottom: 0rem;
    }

    .article-cont1 {
        font-size: 0.8rem;
        padding-left: 1.17265625rem;
        padding-right: 1.17265625rem;
    }

    .article-content {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }

    .article-content h1 {
        font-size: 1.3rem;
        font-weight: 900;
    }

    .read-more-btn,
    .read-less-btn {
        font-size: 0.725rem;
        border-radius: 0.3125rem;
        padding: 0.375rem 0.9375rem;
    }


}

.art-art-title {
    padding: 1.5rem 0 2rem 0;
    display: inline-block;
    text-align: center;
}

.apply-art-h1 {
    text-align: center;
    color: var(--color-1-100);
    font-weight: 900;
    font-size: 1.901rem;
    font-variant: small-caps;
}

.apply-art-h1 a {
    color: #1994a5;
}

@media only screen and (max-width:991px) {
    .art-art-title {
        padding: 0.1875rem auto;
        padding-top: 0.6rem !important;
        padding-bottom: 0.8rem !important;
    }

    .apply-art-h1 {
        font-size: 1.151rem;
        padding: 0 0.9rem;
    }

    .apply-art-h1 a {
        font-size: 1.151rem;
    }
}

.article-cont1::first-letter {
    color: var(--color-1-100);
    font-size: 200%;
    font-weight: 700;
}

.btnreadmore {
    margin-right: 6.875rem;
    padding: 0 auto;
}

@media only screen and (min-device-width:1001px) and (max-device-width:1420px) {
    .btnreadmore {
        padding-right: 2.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .btnreadmore {
        margin: 0;
        padding-left: 1.17265625rem;
        padding-right: 1.17265625rem;
        padding-top: 0.625rem;
    }
}

@media only screen and (max-width:320px) {
    .btnreadmore {
        padding-left: 1.17265625rem;
        padding-right: 1.17265625rem;
    }
}

@media only screen and (max-width:1001px) {
    .btnreadmore {
        margin-bottom: 5vh;
    }
}

@media only screen and (max-width:660px) {
    .top-bg-segment h1 {
        font-size: 2.2rem;
        left: 4%;
    }

    .top-bg-segment h2 {
        font-size: 2.5rem;
        left: 4%;
        top: 48%;
    }
}

@media only screen and (max-width:1000px) and (min-width:661px) {

    .top-bg-segment h1,
    .top-bg-segment h2 {
        left: 3%;
        font-size: 4rem;
    }

    .top-bg-segment h2 {
        top: 50%;
    }
}

@media only screen and (max-width:359px) and (min-width:320px) {

    .top-bg-segment h1,
    .top-bg-segment h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width:320px) {

    .top-bg-segment h1,
    .top-bg-segment h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-height:500px) {
    .top-bg-segment h1 {
        top: 30%;
        font-size: 3rem;
    }

    .top-bg-segment h2 {
        font-size: 2.5rem;
        top: 50%;
    }
}