.glimpses h1{
    color: #f1f1f1;
    font-size: 28px;
    font-weight: bold;
}
.glimpses{
    width: 100%;
    text-align: center;
    padding: 10px;
    background: linear-gradient(135deg, #e2564f 0%, #360940 100%);
}
@media screen and (max-width: 700px){
    .glimpses h1{
        font-size: 15px;
    }
}