.glimpses h1{
    color: #f1f1f1;
    font-size: 1.7rem;
    font-weight: 600;
}

.glimpses{
    width: 100%;
    text-align: center;
    padding: .625rem;
    font-variant: small-caps;
    background-color: var(--color-1-080);
}

.photo-title h1{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-1-100);
    margin-top: 5vh;
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 700px){
    .photo-title h1{
        font-size: 1.5rem;
    }

    .glimpses h1{
        font-size: 1.2rem;
    }
}