@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
.event-pic{
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  height: 60vh;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}
.event-pic img{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  z-index: -10;
  min-height: 100%;
}

.event-title h1 {
  color: #03989e;
  font-weight: 900;
  font-size: 5.5vh;
}

.event-title {
  border-bottom: 0.2vh solid #3ca06a;
  width: 60%;
  text-align: center;
  margin: 5vh auto 8vh;
}

.event-details {
  margin: 35.448px 112.975px 5vh;
  color: #161c2f;
  font-size: 2.3vh;
  line-height: 2;
  text-align: justify;
  text-align-last: left;
  font-weight: 600;
}

@media only screen and (max-width: 1000px) {
  .event-details {
    margin: 26.264px 18.7625px 37.52px;
    line-height: 1.8;
    font-size: 17.712px;
  }

  .event-pic{
    height: 50vw;
  }
  .event-pic img{
  max-height: 100%;
  width: 100%;
  top: 60%;
  }

  .event-title {
    margin-bottom: 3vh;
  }

  .event-title h1 {
    font-size: 22.512px;
    font-weight: 900;
  }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1024px){
  .event-pic{
    height: 40vw;
  }
}
@media only screen and (max-width:320px){
  .event-pic{
    height: 55vw;
  }
  .event-pic img{
    top: 65%;
  }
}
.commitees-heading {
  text-align: center;
  color: #03989e;
  margin-top: 5vh;
  font-variant: small-caps;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
.junmun-agendas {
  display: flex;
  margin-top: 6.9vh;
  /* background-color: #0c5160; */
  background-color: var(--color-11-100);
  padding: 2.5rem 0;
  padding-top: 1rem !important;
  width: 100%;
     position: relative;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;
}

.agenda {
  /* background: linear-gradient(135deg, #06553d 0%, #159d9d 100%); */
  background-color: var(--color-11-80);
  border-radius: 1.5625em;
  margin: 2rem 3.5rem;
  border: 4px solid #0b162e;
    width: 40%;

}
.agenda img {
  width: 25rem;
  max-width: 25rem;
  padding: 0 30px;
}
.title01-container {
  text-align: center;
  padding: 0 0rem;
  text-align: center;
  line-height: 1.6;
  margin: 1rem 0;
  font-variant: small-caps;
}
.title01-container h2 {
  font-size: 1.4rem;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.agenda-only {
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: 900 !important;
}
.agendapara-container {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: white;
  font-size: 1.1rem;
  text-align: justify;
  text-align-last: left;
  padding: 0 3.125rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 540px) {
  .commitees-heading {
    margin-top: 4vh;
    font-size: 1.2rem;
  }
  .junmun-agendas {
    display: block;
    justify-content: space-between;
    margin-top: 2vh;
    padding:0.8rem 0 2.5rem 0;
  }
  .agenda {
    width: 90%;
    margin: 1.25em auto 0 auto;
  }
  .agenda img{
    width: 20rem;
    max-width: 20rem;
  }

  .title01-container h2 {
    font-size: 1.2rem;
  }
  .title01-container {
    padding: 3px 1.4rem;
  }
  .agendapara-container {
    padding: 0 30px 20px 30px;
    margin-bottom: 0.5rem;
  }
  .agendapara-container p {
    font-size: 0.8em;
  }
  .agenda-only {
    font-size: 0.7em;
    margin: 0em 0;
  }
  .junmun2021 {
    font-size: 0.6em;
    padding: 0 10px;
  }
}
.agenda-only {
  text-align: center;
  margin: 0.625em 0;
  color: white;
}



/* @media only screen and (min-device-width: 541px) and (max-device-width: 1279px) {
  .event-title h1 {
    font-size: 3rem;
  }
  .commitees-heading h1 {
    font-size: 5rem;
    font-weight: 900;
  }
  .junmun-agendas {
    display: block;
  }
  .agenda {
    width: 80%;
    margin: 2rem auto;
    margin-bottom: 0 !important;
  }
  .agenda img{
    width: 30rem;
    max-width: 30rem;
  }
  .junmun-agendas {
    margin-top: 2vh;
    padding: 1.2rem 0;
    padding-bottom: 1.8rem !important;
    
  }
  .title01-container h2 {
    font-size: 2.1rem;
  }
  .title01-container {
    padding: 10px 2rem;
  }
  .agenda-only {
    font-size: 1.5em;
    margin: 0.5em 0;
  }
  .agendapara-container p {
    font-size: 1.2em;
  }
  .agendapara-container {
    padding: 0 50px 20px 50px;
  }
} */

@media only screen and (min-device-width: 541px) and (max-device-width: 1279px){
  .junmun-agendas{
    margin-top: 3rem !important;
  }
  .agenda{
    width: 43%;
    /* margin: 0 !important; */
    margin: 2rem 1rem !important;
  }
  .agenda img{
    width: 20rem;
    max-width: 20rem;
  }
  .title01-container{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .agendapara-container{
    font-size: 1rem;
    line-height: 1.6 !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}




.container-junmun2021 {
  padding-bottom: 10px;
}
.junmun2021 {
  text-align: center;
  padding-top: 4vh;
  color: #03989e;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 1.3rem;
}

.images-junmun21 img {
  width: 350px;
  margin: 10px 10px;
  border-radius: 10px;
}
.images-junmun21 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .images-junmun21 img {
    margin: 10px auto;
    width: 90%;
  }
  .junmun2021 {
    font-size: 0.8em;
  }
}
@media only screen and (max-width:356px){
  .agenda img{
    width: 15rem;
    max-width: 15rem;
  }
}

.faq-section{
  font-size: 2rem;
  font-weight: bolder;
  padding: 2rem 0;
  text-align: center;
  color: white;
}
@media only screen and (max-width:991px){
  .faq-section{
      font-size: 1.2rem;
      padding: 1.6rem 0 1rem 0;
  }
}