@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
.event-pic img{
    width: 100%;
    position: relative;
    height: 50vh;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}
.event-pic {
    margin-bottom: 25px;
}
.event-title h1{
    color: #e2564f;
    font-weight: bolder;
    font-size: 5vh;
}
.event-title{
    border-bottom: 0.2vh solid #e2564f;
    width: 60%;
    text-align: center;
    margin: 5vh auto 8vh;
}
.event-details{
    margin: 35.448px 112.975px 5vh;
    color: #161c2f;
    font-size: 2.3vh;
    line-height: 2.0;
    text-align: justify;
    text-align-last: left;
    font-weight: 600;
}
@media only screen and (max-width: 1000px){
    .event-details{
        margin: 26.264px 18.7625px 37.52px;
        line-height: 1.8;
        font-size: 17.712px;
    }
    .event pic{
        height: 10vw;
    }
    .event-title{
        margin-bottom: 3vh;
    }
    .event-title h1{
        font-size: 22.512px;
        font-weight: 900;
    }
}
/* .junmun-partners{
    margin-bottom: 4vh;
}
.junmunpart-heading{
    text-align: center;
}
.junmunpart-heading h1{
    font-weight: 900;
    color: #e2564f;
    font-size: 40px;
}
.junmun-flexing, .partner1, .partner2{
    display: flex;
}
.part-indi1 img{
    border-radius: 50%;
    width: 100px;
}
.part-indi2 img{
    border-radius: 50%;
    width: 100px;
} */
.commitees-heading{
    text-align: center;
}
.junmun-agendas{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    /* background-color: rgba(78, 48, 9, 0.484); */
    background-color: #0c5160;
    padding: 2.5em 0;
}

.agenda{
    background: linear-gradient(135deg, #06553d 0%, #159d9d 100%);
    width: 30%;
    border-radius: 1.5625em;
    margin: 0 2.5em;
}
.title01-container{
    text-align: center;
    padding: 0 3.125em;
    text-align: center;
    /* text-align-last: left; */
    line-height: 1.6;
    margin: 1.8em 0;
    height: 2em;
}
.title01-container h2{
    font-size: 1.05em;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    /* line-height: 1.4; */
    /* letter-spacing: 0.2px; */
}

@media only screen and (max-width: 540px)
/* @media (min-width: 481px) and (max-width: 767px)  */
{
    .junmun-agendas {
      display: block;
      justify-content: space-between;
    }
    .agenda {
      width: 80%;
      /* margin: 20px; */
      margin: 1.25em auto;
    }
    /* .title01-container {
        height: 2.5em;
    } */
    /* .agenda img{
        width: 18.75em;
    } */
    .title01-container h2{
        font-size: 0.9em;
    }
    .title01-container{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .agendapara-container p{
        font-size: 0.8em;
    }
    .agenda-only{
        font-size: 0.7em;
        margin: 0em 0;
    }
    .junmun2021{
        font-size: 0.6em;
        padding: 0 10px;
    }
}
.agenda-only{
    text-align: center;
    margin: 0.625em 0;
    color: white;
}
.agendapara-container{
    color: white;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    text-align-last: left;
    padding: 0 3.125em;
    margin-bottom: 0.9em;
}
.agenda img{
    /* width: 21.875em; */
    width: 100%;
  max-width: 100%;
  padding: 0 30px;
}
@media only screen and (max-width:540px)
/* @media (min-width: 481px) and (max-width: 767px)  */
{
    .agendapara-container{
        padding:0 20px 20px 20px;
    }
    .junmun-agendas{
margin-top: 2vh;
padding: 0.8em 0;
    }
}
@media only screen and (min-device-width: 541px) and (max-device-width: 1279px){
       .junmun-agendas{
        display: block;
       }
       .agenda{
        width: 80%;
        margin: 1.25em auto;
       }
       .junmun-agendas{
        margin-top: 2vh;
        padding: 1.2em 0;
            }
            .title01-container h2{
                font-size: 0.9em;
            }
            .title01-container{
                padding-top: 15px;
                padding-bottom:0px;
            }
            .agenda-only{
                font-size: 0.9em;
                margin: 0.5em 0;
            }
            .agendapara-container p{
                font-size: 1.2em;
            }
            .agendapara-container{
                padding:0 20px 20px 15px;
            }
}
.container-junmun2021{
    padding-bottom: 10px;
}
.junmun2021{
    text-align: center;
    padding-top: 5vh;
}

.images-junmun21 img{
    width: 350px;
    margin: 10px 10px;
    border-radius: 10px;
}
.images-junmun21{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}
@media screen and (max-width:600px){
    .images-junmun21 img{
        margin: 10px auto;
        width: 90%;
    }
    .junmun2021{
        font-size: 0.8em;
    }
}