.mock-event{
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    height: 60vh;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.mock-event img{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    z-index: -10;
    min-height: 100%;
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1024px){
    .mock-event{
    height: 40vw;
    }
}

@media only screen and (max-width:320px){
    .mock-event{
        height: 60vw;
    }

    .mock-event img{
        top: 80%;
    }
}

@media only screen and (max-width:1000px){
    .mock-event{
        height: 50vw;
    }

    .mock-event img{
        max-height: 100%;
        width: 100%;
        top: 60%;
    }
}

.mock-heading{
    width: 60%;
    text-align: center;
    border-bottom: 1px solid var(--color-1-100);
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

.mock-heading h1{
    font-size: 3rem;
    font-weight: bolder;
    color: var(--color-1-100);
}


.mock-content {
    margin: 2rem 0;
    padding: 0 6rem;
    line-height: 4.5vh;
    text-align: justify;
    text-align-last: left;
}
.mock-content p{
    font-size: 2.3vh;
    font-weight: 600;
}

@media only screen and (max-width:1000px){
    .mock-heading{
        margin-top: 2.5rem;
    }

    .mock-heading h1{
        font-size: 2rem;
    }

    .mock-content{
        margin-top: 1rem;
        padding: 0 1.5rem;
        line-height: 1.8;
    }

    .mock-content p {
        font-size: 1.107rem;
    }
}

@media only screen and (max-width:320px){
    .mock-heading{
        margin-top: 1.5rem;
        margin-bottom: 0 !important;
    }

    .mock-heading h1{
        font-size: 1.5rem;
    }

    .mock-content{
        padding: 0 1rem;
        margin-top: 1.5rem;
    }

    .mock-content p{
        font-size: 0.8rem;
    }
}

/*Automatic carousel*/

.slider{
    height: 15.625rem;
    margin: auto;
    width: 90%;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    min-height: 25rem;
    display: grid;
    place-items: center;
    z-index: 0;
}

.slide-track{
    display: flex;
    width: calc(21.875rem * 14);
    animation: scroll 40s linear infinite 2s;
}

.slide-track:hover{
    animation-play-state: paused;
}


@keyframes scroll {
    0% {
        transform: translateX(0)
    }
    100%{
        transform: translateX(calc(-21.875rem * 14))
    }
}

.slide2{
    height: 21.875rem;
    width: 21.875rem;
    display: flex;
    align-items: center;
    padding: 0.9375rem;
    perspective: 6.25rem;
}

.slide2 img{
    width: 100%;
    transition: all 0.5s ease-out;
    opacity: 0.82;
    border-radius: 0.625rem;
}

.slide2 img:hover{
    transform: scale(1.1);
    opacity: 1;
}

.slider::before, .slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%);
    height: 100%;
    position: absolute;
    z-index: 2;
    width: 15%;
    content: '';
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/*for mobile devices*/
@media only screen and (max-width:660px){
    .slider{
        height: 8.625rem;
        min-height: 18rem;
    }

    .slide-track{
        width: calc(17rem * 14);
    }

    @keyframes scroll {
        0% {
            transform: translateX(0)
        }
        100%{
            transform: translateX(calc(-17rem * 14))
        }
    }

    .slide2{
        height: 17rem;
        width: 17rem;
    }
}

@media only screen and (max-width:320px){
    .slider{
        height: 8.625rem;
        min-height: 18rem;
    }
    
    .slide-track{
        width: calc(13rem * 14);
    }

    @keyframes scroll {
        0% {
            transform: translateX(0)
        }
        100%{
            transform: translateX(calc(-13rem * 14))
        }
    }

    .slide2{
        height: 13rem;
        width: 13rem;
    }
}