@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.not-found{
    width: 100%;
    background-color: var(--color-1-100);
    padding-top: 8.125rem;
    height:95vh;
    overflow: hidden;
}
.no-existence{
    text-align: center;
}
.no-existence1{
    color: whitesmoke;
    font-size: 11.25rem;
}
.not-found-text h1{
    color: whitesmoke;
    font-size: 4.5vh;
}
.not-found-text h2{
    color: whitesmoke;
    font-size: 4vh;
    padding-top: 4vh;
}
.not-found-text{
    text-align: center;
    margin-top: 5vh;
}
.notfound-tohome{
    text-align: center;
    margin-top: 4vh;
}
.tohome{
    color: #000000;
    font-weight: 900;
}
.to-home{
    font-size: 25px;
}
/* .tohome:hover{
        color: whitesmoke;
} */
@media (max-width:992px){
    .not-found-text h1{
        padding: 0 1.875rem;
        font-size: 3vh;
    }
    .not-found-text h2{
        font-size: 2.5vh;
        padding: 1.875rem 3.125rem;
    }
    .no-existence1{
        font-size: 8.125rem;
    }
    .notfound-tohome{
        width: 70%;
        padding: 0.3125rem;
    }
    .to-home{
        font-size: 0.875rem;
    }
}

.notfound-tohome{
    width: 50%;
    padding: 0.625rem;
    background-color: var(--color-4-100);
    text-align: center;
    display: inline-block;
    border-radius: 1.875rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.25rem;
}
.notfound-tohome:hover{
    background-color: rgba(112, 183, 213, 0.386);
    transition: 0.3s ease-in;
    color: whitesmoke;
}
.notfound-tohome:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem #e2564f;
    transition: 0.7s;
  }
.notfound-tohome:active
          {
              box-shadow: 2px 2px 2px 2px #e2564f;
              transform: translateY(4px);
          } 
