@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.not-found{
    width: 100%;
    background-color: var(--color-1-100);
    padding-top: 8.125rem;
    height:95vh;
    overflow: hidden;
}

.no-existence{
    text-align: center;
}

.no-existence1{
    color: transparent;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 4.5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    font-size: 11.25rem;
}

.no-existence1{
    font-family: 'Lato', sans-serif;
    letter-spacing: 10px;
}

.not-found-text h1{
    font-weight: 900;
    color: transparent;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 4.5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    font-size: 4.5vh;
    font-family: 'Lato', sans-serif;
}

.not-found-text h2{
    font-weight: 900;
    color: transparent;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 4.5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    font-size: 4vh;
    padding-top: 4vh;
}

.not-found-text{
    text-align: center;
    margin-top: 5vh;
}

.notfound-tohome{
    text-align: center;
    margin-top: 5vh;
}

.notfound-tohome h1{
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600 !important;
    letter-spacing: .5px;
}

.tohome{
    color: #000000;
    font-weight: 900;
}

.to-home{
    font-size: 25px;
}

@media (max-width:992px){
    .not-found-text h1{
        padding: 0 1.875rem;
        font-size: 3vh;
    }

    .not-found-text h2{
        font-size: 2.5vh;
        padding: 1.875rem 3.125rem;
    }

    .no-existence1{
        font-size: 8.125rem;
    }


    .notfound-tohome{
        width: 70%;
        padding: 0.3125rem;
    }

    .notfound-tohome h1{
        font-size: 1rem;
    }

    .to-home{
        font-size: 0.875rem;
    }
}

.notfound-tohome{
    width: 50%;
    padding: 0.625rem;
    background-color: var(--color-4-100);
    text-align: center;
    display: inline-block;
    border-radius: 1.875rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.25rem;
    transition: transform 0.4s cubic-bezier(0.27, 0.49, 0.62, 1.47) 0s, background-color 0.4s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

.notfound-tohome:hover{
    transform: scale(1.02);
    background-color: rgba(112, 183, 213, 0.386);
    color: whitesmoke;
}

.notfound-tohome:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem #e2564f;
    transition: 0.7s;
  }

.notfound-tohome:active
          {
              box-shadow: 2px 2px 2px 2px #e2564f;
              transform: translateY(4px);
          } 

          @keyframes animate {
            0%{
                background-position: 0 100%;
            }
            50%{
                background-position: 100% 0;
            }
            100%{
                background-position: 0 100%;
            }
        }

