@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.not-found{
    width: 100%;
    /* background-color: rgb(4,4,4); */
    background: linear-gradient(135deg, #e2564f 0%, #360940 100%);
    /* margin-top: 3vh; */
    padding-top: 130px;
    height:95vh;
    overflow: hidden;
}
.no-existence{
    text-align: center;
}
.no-existence1{
    color: whitesmoke;
    font-size: 180px;
}
.not-found-text h1{
    color: whitesmoke;
    font-size: 4.5vh;
}
.not-found-text h2{
    color: whitesmoke;
    font-size: 4vh;
    padding-top: 4vh;
}
.not-found-text{
    text-align: center;
    margin-top: 5vh;
}
.notfound-tohome{
    text-align: center;
    margin-top: 4vh;
}
.tohome{
    color: #ee0970;
}
.to-home{
    font-size: 25px;
}
.tohome:hover{
        color: whitesmoke;
}
@media (max-width:992px){
    .not-found-text h1{
        padding: 0 30px;
        font-size: 3vh;
    }
    .not-found-text h2{
        font-size: 2.5vh;
        padding: 30px 50px;
    }
    .no-existence1{
        font-size: 130px;
    }
}
