@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tea0 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(250, 247, 241, 0.393);
}

.art-home-title {
  padding: 1.5rem 0 2rem 0;
  display: inline-block;
  text-align: center;
}

.apply-home-h1 {
  text-align: center;
  color: var(--color-1-100) !important;
  font-weight: 900;
  font-size: 1.901rem;
  font-variant: small-caps;
}

.apply-home-h1 a {
  color: #1994a5;
}


.team-section {
  margin: 0 2.5rem;
  background: white;
  width: 29%;
  box-shadow: 0 0 0.9375rem;
  border-radius: 0.625rem;
  height: auto;
}

.team-section img {
  width: 100%;
  max-width: 100%;
  border-radius: 0.625rem 0.625rem 0 0;
}

.team-section-body {
  padding: 0.625rem 1.25rem;
  text-align: justify;
  text-align-last: left;
  justify-content: center;
  line-height: 1.6;
}
.team-section-body p {
  color: #222226;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 0 1rem;
}
.team-section-body h2 {
  color: var(--color-1-100);
  margin: 0 0 0.5rem;
  padding: 0.3125rem 0;
  font-size: 1.5rem;
  font-weight: 9000;
  font-family: "Montserrat", sans-serif;
  font-variant: small-caps;
}
.article-home-btn{
  cursor: pointer;
  margin-top: 0.625rem;
  border: 0.0625rem solid #212529;
  font-weight: 900;
  line-height: 1.6;
  background-color: transparent;
  text-align: center;
  padding: 0.4375rem 0.9375rem;
  border-radius: 0.3125rem;
}
.article-home-btn:hover {
  background-color: var(--color-1-100);
  transition: 0.3s ease-out;
  color: whitesmoke;
}
.article-home-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem #e2564f;
  transition: 0.7s;
}
.article-home-btn:active
        {
            box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem #e2564f;
            transform: translateY(2px);
        } 

@media only screen and (max-width: 991px) {
  .tea0 {
    display: block;
    justify-content: space-between;
  }
  .team-section {
    width: 90%;
    /* margin: 20px; */
    margin: 1.25rem auto;
  }
  .apply-home-h1 {
    font-size: 1.151rem;
    padding: 0 0.9rem;
  }
  .apply-home-h1 a {
    font-size: 1.151rem;
  }
  .art-home-title {
    padding: 0.1875rem auto;
    padding-top: 1.5rem !important;
    padding-bottom: 0.6rem !important;
  }
  .team-section-body p {
    font-size: 0.875rem;
    /* line-height: 8.6; */
    /* word-spacing: 1px; */
  }
  .team-section-body{
    line-height: 1.8;
  }
}
