.bybharatdetail-top{
    min-height: 100vh;
    padding-top: 13vh;
    background-image: url(un_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: inset 0 0 0 1000px rgba(1, 51, 91,0.5); */
    box-shadow: inset 0 0 0 1000px #1f1834b1;
}

.main-bybharatdetail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5rem 0 1rem 0;
}

.bybharatdetail-top h1{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    border-bottom: 4px dotted #1a1a1a;
    display: inline-block;
}

.indi-poster-bybharat{
    width: 33%;
    margin: 1rem auto;
}

.indi-poster-bybharat img{
    width: 80%;
    box-shadow: 0 0 0.9375rem;
  border-radius: 0.625rem;
  object-fit: contain;
  pointer-events: none;
}

.link-btn-btm{
    padding-bottom: 1.5rem;
}

@media only screen and (max-width:660px){
    .indi-poster-bybharat{
        width: 99%;
        margin: 1rem auto;
    }

    .main-bybharatdetail{
        padding: 1.5rem 0;
    }

    .bybharatdetail-top h1{
        font-size: 1.3rem;
    }
}

@media only screen and (max-height:500px){
    .bybharatdetail-top{
        padding-top: 20vh;
    }
}

@media only screen and (max-height:320px){
    .bybharatdetail-top{
        padding-top: 25vh;
    }
}