/* .director1{
    display: flex;
    height: 90vh;
    background-color: #000000;
    width: 100%;
}
.direc1{
    background-color: #161c2f;
    width: 40%;
    padding: 100px;
}
.direc1 img{
    border-radius: 35px;
    width: auto;
}
.direc2{
    width: 60%;
    background-color: white;
}
.dir-msg-head{
    height: 100px;
} */
