.footermain{
    position:absolute;
    bottom: 0;
}
.footer-icon{

    /* background-color: #1da393; */
    background-color: var(--color-9-100);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 2.5em; */
    /* padding-top: 3px;
    padding-bottom: px;*/
} 
.footer-below{
    justify-content: center;
    max-width: 100%;
    background-color: var(--color-8-100);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12em;
}
.address ul{
    padding-bottom: 0.4em;
    color: white;
    font-size: 1rem
    
}
.phonenum ul{
    padding-bottom: 0.4em;
    color: white;
    font-size: 1rem
    
}
.footer-below1{
    display: flex;
    align-items: center;
}
.footer-below2{
    display: flex;
    align-items: center;
}
/* .footer-anchor{
    /* padding: 1em; */
.phonenum .address{
    padding: 0.5rem;
}
.phonenum2{
    /* display: none; */
    display: flex;
    flex-direction: column;

}
.phonenum2 a{
 text-decoration: none;
 color: white;
 padding-bottom: .4rem;

}
.phonenum2 a:hover{
    cursor: pointer;
    
}

.icon-color8{
    color: white;
    /* padding: 0%; */
}
.icon-color8:hover {
    color: red;
}
.icon-color9{
    color: white;
}
.icon-color9:hover {
    /* color: pink; */
    color: #f09433;
}
.footer-btn-a,.footer-btn-b,.footer-btn-c,.footer-btn-d,.footer-btn-e{
    /* background-color: #6ae0f2; */
    display: flex;
    justify-content: center;
    background-color: var(--color-10-100);
    align-items: center;
    margin: 0.4375rem;
    /* margin-top:5px; */
    padding-left: 0%;
    padding-right: 0%;
    /* padding-top: 4px; */
    border-radius: 0.25rem;
    width: 2.1875rem;
    height: 2.1875rem;
    transition: all 0.3s ease 0s;

}
.footer-btn-a,.footer-btn-b,.footer-btn-c,.footer-btn-d,.footer-btn-e:hover{
    cursor: pointer;
}

.icon-color-a,.icon-color-b,.icon-color-c,.icon-color-d,.icon-color-e{
    padding-top: 0.125rem;
    color: black;
    /* color: white; */
}
.footer-btn-a:hover .icon-color-a{
    color: white;
    transition: all 0.3s ease 0s;
}
.footer-btn-a:hover{
    background-color: #0072b1;
    transition: all 0.3s ease 0s;
}
.footer-btn-b:hover .icon-color-b{
    color: white;
    transition: all 0.3s ease 0s;
}
.footer-btn-b:hover{
    background-color: 	#4267B2;
    transition: all 0.3s ease 0s;
}
.footer-btn-c:hover .icon-color-c{
    color: white;
    transition: all 0.3s ease 0s;
}
.footer-btn-c:hover{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    transition: all 0.3s ease 0s;
}
.footer-btn-d:hover .icon-color-d{
    color: rgb(255, 0, 0);
    transition: all 0.3s ease 0s;
}
.footer-btn-d:hover{
    background-color: 	#ffffff;
    transition: all 0.3s ease 0s;
}
.footer-btn-e:hover .icon-color-e{
    color: rgb(251, 62, 62);
    transition: all 0.3s ease 0s;
}
.footer-btn-e:hover{
    background-color: 	#ffffff;
    transition: all 0.3s ease 0s;
}
.footer-heading img{
    width: 9em;
}
.footer-heading-ph{
    display: none;
}
.address{
    margin-left: 0.5rem;
}
.phonenum{
    margin-left: 0.5rem;
}


/* Additional css */
.light-address{
    color: #98a2ad !important;
    font-weight: 600 !important;
}
.footer-phone:hover{
    color: rgb(0, 0, 0) !important;
}
.footer-location:hover{
    color: #000000 !important;
}
.footer-heading:hover{
    color:#ee0970 !important;
}


/* {
    
}.footer-heading */

@media only screen and (max-width : 676px){
    .footer-below{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 20em;
        

    }
    .footer-img{
        display: none;
    }
    .footer-heading-ph{
        display: block;
        font-size: 1.3em;
        font-weight: bolder;
        }
    .footer-heading-ph a{
        color: white;
    }
    .footer-heading{
        display: block;
    }
    .footer-pic{
        display: none;
    }
    .footer-below2{
        padding-right: 1.5em;
    }
    .shared-class{
        size: 60;
    }
    
    
}
