.hometop-main{
  position: relative;
  margin-top: 1.25rem;
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
  background-image: url("mun.jpg");
  /* box-shadow: inset 0 0 0 1000px rgba(1, 51, 91,0.5); */
  box-shadow: inset 0 0 0 1000px #1f1834b1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(245, 89, 89);
  padding-bottom: 0;
  height: 101vh;
  background-attachment: fixed;
  opacity: 1;
}

.hometop-img img{
  position: absolute;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  height: 28rem;
  width: 28rem;
  max-width: 100%;
  pointer-events: none;
  aspect-ratio: 1/1;
}

.hometop-apply{
  width: 100%;
  padding: 1em 1em;
  background-color: var(--color-1-100);
  font-size: 2em;
}

.hometop-link1btn{
  width: 50%;
  padding: 1rem 2rem;
 font-weight:600;
  text-align: center;
  text-decoration: none;
  border-radius: 3.125rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-size: 1.25rem;
  background-color: var(--color-4-100);
  background-color: var( --color-1-080);
  font-family: 'Poppins', sans-serif;
  letter-spacing: .7px;
  color: white;
  border: 3px solid #161c2f;
  transition: transform 0.25s cubic-bezier(0.27, 0.49, 0.62, 1.47) 0s, background-color 0.25s cubic-bezier(0.27, 0.49, 0.62, 1.47) 0s;
}

.hometop-link1btn:hover{
  color: var(--color-1-100);
    font-weight: 900;
    background-color: var(--color-6-100);
    transform: scale(1.02);
    border: 3px solid #a4606c;
}

.hometop-link1btn:active
          {
              box-shadow: 1px 1px 1px 1px #e2564f;
              transform: translateY(2px);
          } 

.hometop-link1btn:focus {
            outline: none;
            box-shadow: 0 0 0 4px #e2564f;
            transition: 0.5s;
          }


.hometop-reg{
  font-variant: small-caps;
  padding-bottom: 1.875rem;
}

.hometop-reg ul{
  font-family: 'Poppins', sans-serif;
  letter-spacing: .5px;
}


.home-wrapped img{
  position: absolute;
  top: 8%;
  left: 0%;
  width: 14%;
  object-fit: contain;
}

@media only screen and (max-width:660px){
  .hometop-main{
    transition: height 9999999s;
  }
}

@media screen and (max-width: 565px)  {
  .hometop-img img{
      width: 22em;
  }
  
  .hometop-reg{
      font-size: 1.4rem;
  }

  .hometop-reg ul{
    letter-spacing: 0.1px !important;
  }

  .hometop-link1btn{
      font-size: 0.4em;
      width: 60%;
      padding: 0.5125rem 0.625rem;
      letter-spacing: 0.1px;
  }

  .hometop-apply{
      padding: 1em 1em;
      margin-bottom: 0;
  }

  .hometop-reg {
    padding-bottom: 0.625rem;
  }
}
@media screen and (max-width: 410px)  {
  .hometop-img img{
      width: 18em;
  }

  .hometop-reg {
    padding-bottom: 0.625rem;
  }
}

.hometop-reg ul{
  font-weight: bolder !important;
}

@media only screen and (max-width:320px){
  .hometop-img img{
    width: 15rem;
  }
}

@media only screen and (max-width:660px){
  .hometop-link1btn{
    border: 2px solid #161c2f;
  }

  .hometop-link1btn:hover{
    border: 2px solid #a4606c;
  }

  .home-wrapped img{
    width: 30%;
    left: 0% !important;
  }
}