.quirkytdetail-top{
    min-height: 100vh;
    padding-top:13vh;
    background-image: url(un_bg.jpg);
    min-height: 100vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: inset 0 0 0 1000px rgba(1, 51, 91,0.5); */
    box-shadow: inset 0 0 0 1000px #1f1834b1;
}

.quirkytdetail-top h1{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    border-bottom: 4px dotted #1a1a1a;
    display: inline-block;
}

.p-more{
    margin: 5vh 0;
    font-size: 1.5rem;
    color: transparent;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 4.5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width:660px){
    .quirkytdetail-top h1{
        font-size: 1.3rem;
    }

    .p-more{
        font-size: 1rem;
    }
}
