.sec-img {
  width: 18em;
  height: 18em;
  pointer-events: none;
  box-shadow: 0 0 0.9375rem;
  border-radius: 50%;
  /* padding-top: 5%; */
  object-fit: cover;
}

.msg-secretary {
  margin-bottom: -50px;
  padding-top: 2vw;
  background-color: white !important;
  /* background-color: var(--color-11-100); */
}

.sec-head1{
  color: var(--color-1-100) !important;
}

.sec-main {
  display: flex;
  /* background-color: #e1fffb; */
  /* background-color: var(--color-11-100); */
  padding-top: 3em;
  padding-bottom: 3em;
  box-shadow: 0.1875rem brown;
}

.sec-text {
  text-align: justify;
  color: black;
  font-family: 'Nunito', sans-serif;
}

.sec-padding1 {
  padding-left: 5%;
  /* padding-bottom: 35em; */
}

.sec-padding2 {
  padding-right: 5%;
}

.sec-padding3 {
  padding-left: 5%;
}

.sec-head1 {
  text-align: center;
  color: #161c2f;
  font-size: 2.1em;
  font-variant: small-caps;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: 1px;
  font-variant: small-caps;
}

.sec-imgcon {
  /* padding-top: 5%; */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .sec-main {
    padding-top: 2.5em;
  }

  .sec-nme {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .sec-main {
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
  }

  .sec-text{
    font-size: 1rem !important;
    padding-left: 0.3125rem !important;
    padding-right: 0.3125rem !important;
  }
  .sec-nme {
    display: none;
  }

  .sec-head1 {
    text-align: center;
    color: #161c2f;
    font-size: 1.5em;
    margin-bottom: 1.25rem; /*additional */
    letter-spacing:0px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  /* .msg-secretary{
    position: absolute;
    top: 120px;
  } */
  
  .sec-img {
    margin-bottom: 2.5rem;
    /* border-radius: 10%; */
  }

  .msg-secretary{
    padding-top: 6vw;
  }
}

.sec-nme {
  font-size: 1.5rem;
  color: #212529;
  padding-top: 0.9375rem;
  font-weight: 600;
 font-family: 'Nunito', sans-serif;
}



 @media only screen and (max-width:320px){
  .sec-img {
    width: 15rem;
    height: auto;}

    .sec-head1{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    }
 }

 .sec-imge{
  margin-top: 27vh;
 }

@media only screen and (max-width:990px){
  .sec-imge{
    margin-top: 2vh;
  }
}