.sec-img {
  width: 18em;
  height: auto;
  border: 0.1875rem solid white;
  border-radius: 20%;
  /* padding-top: 5%; */
}

.msg-secretary {
  margin-bottom: -50px;
  padding-top: 2.5rem;
  background-color: var(--color-11-100);
}

.sec-head1{
  color: var(--color-1-100) !important;
}

.sec-main {
  display: flex;
  /* background-color: #e1fffb; */
  background-color: var(--color-11-100);
  padding-top: 3em;
  padding-bottom: 3em;
  box-shadow: 0.1875rem brown;
}

.sec-text {
  text-align: justify;
  color: #212529;
  /* color: black; */
  font-weight: 900;
}

.sec-padding1 {
  padding-left: 5%;
  /* padding-bottom: 35em; */
}

.sec-padding2 {
  padding-right: 5%;
}

.sec-padding3 {
  padding-left: 5%;
}

.sec-head1 {
  text-align: center;
  color: #161c2f;
  font-size: 2.5em;
  font-variant: small-caps;
}

.sec-imgcon {
  /* padding-top: 5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .sec-main {
    padding-top: 2.5em;
  }
  .sec-nme {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .sec-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
  }

  .sec-text{
    font-size: 1rem !important;
    padding-left: 0.3125rem !important;
    padding-right: 0.3125rem !important;
  }
  .sec-nme {
    display: none;
  }

  .sec-head1 {
    text-align: center;
    color: #161c2f;
    font-size: 1.5em;
    margin-bottom: 1.25rem; /*additional */
  }

  /* .msg-secretary{
    position: absolute;
    top: 120px;
  } */
  
  .sec-img {
    margin-bottom: 2.5rem;
  }
}

.sec-nme {
  font-size: 1.25rem;
  color: #212529;
  padding-top: 0.9375rem;
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
}
 @media only screen and (max-width:320px){
  .sec-img {
    width: 15rem;
    height: auto;}
 }