@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.team-head5{
    width: 89%;
    /* border-bottom: 3px solid #732445; */
    border-bottom: 3px solid var(--color-1-100);
    text-align: center;
    margin: 0vh auto 2vh auto;
    border-radius: 4px;
}
.team-head5 h1{
    font-size: 50px;
    font-weight: 600;
    color: var(--color-1-100);
    font-family: 'Poppins', sans-serif;
}
.team-img5{
    width: 10.625rem;
    height: 10.625rem;
    border-radius: 1.875rem;
    opacity: 0.85;
    padding: 1.25rem;
    overflow: hidden;
    aspect-ratio: 1/1;
}
.team-stats-card5{
    display: flex;
    width: 97.5%;
    position: relative;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.25rem 3.125rem 1.875rem 3.125rem;
}
.team-stats5{
    background-color: var(--color-15-100);
    margin: 1.25rem;
    border-radius: 20px;
    transition: all 0.4s ease-out;
    box-shadow: 0px 5px 3px 0 var(--color-1-100), 0 6px 1px 0 var(--color-1-100);
    width: 19.5%;
    position: relative;
}
.team-stats5:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 8px 0 #000000, 0 6px 10px 0 var(--color-1-100);
}
.team-stats5:hover .team-img5{
    opacity: 1;
}
.team-stats5 h1{
    padding: 1.0625rem 0.625rem;
    text-align: center;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.team-stats5 h2{
    color: white;
    font-size: 1.0rem;
    text-align: center;
    padding:0.3125rem 1.25rem 0.9375rem 1.25rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
}
@media screen and (max-width: 992px){
    .team-head5{
        margin:7vh auto 2vh auto;
        width: 95%;
        }
        .team-head5 h1{
            font-size: 6vw;
            font-weight: 600;
        }
    .team-stats-card5{
        padding: 1vw 0;
    }
    .team-stats5{
    width: 43%;
    margin: 2vw;
    border-radius: 30px;
    padding: 2.5vw 2vw;
    }
    .team-img5{
        /* width: 80%;
        height: 80%; */
        height: 7.5rem;
        width: 7.5rem;
    aspect-ratio: 1/1;
    /* border-radius: 50%; */
    padding: 0.625rem;
    overflow: hidden;
    }
    .team-stats5 h1{
    font-size: 3.5vw;
    padding: 0.625rem 0.625rem;
    letter-spacing: 0.3px;
    }
    .team-stats5 h2{
        font-size: 0.5rem;
        letter-spacing: 0.4px;
        padding: 0.125rem 0.625rem 0.9375rem 0.625rem;
    }
}


/* Social media icon css */
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon2, .btn-icon3, .btn-icon1, .btn-icon4{
    display: flex;
    justify-content: center;
    /* background-color: #a2d66271; */
    background-color: white;
    align-items: center;
    margin: 0.1875rem 0.4375rem;
    padding-left: 0%;
    padding-right: 0%;
    border-radius: 4px;
    cursor: pointer;
    width: 2.0625rem;
    height: 2.0625rem;
}

@media screen and (max-width:676px){
    .btn-icon2, .btn-icon3, .btn-icon1, .btn-icon4{
        margin: 0.25rem;
        height: 1.75rem;
        width: 1.75rem;
    }
}


.btn-icon1:hover{
    /* background-color: #00695d; */
    background-color: #ffffff;
}
.btn-icon2:hover{
    background-color: #0072b1;
}
.btn-icon3:hover{
    background-color:#4267B2;
}
.btn-icon4:hover{
    background-color: #000000;
}


.icon-color, .icon-color1, .icon-color2, .icon-color3 {
    color: var(--color-15-100);
    font-weight: 900;
    padding: 0.125rem !important;
}

/*Important */
.btn-icon1:hover .icon-color{
    color: rgb(251, 62, 62);
    font-weight: 900;
    transition: 0.15s ease-in-out;
}
.btn-icon2:hover .icon-color1{
    color: white !important;
    transition: 0.15s ease-in-out;
}
.btn-icon3:hover .icon-color2{
    color: white !important;
    transition: 0.15s ease-in-out;
}
.btn-icon4:hover .icon-color3{
    color: white !important;
    transition: 0.15s ease-in-out;
}

@media only screen and (max-width:320px){
    .team-img5{
        height: 6.5rem;
        width: 6.5rem;
    }
 }