@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.team-img1 {
  width: 170px;
  height: 170px;
  border-radius: 30px;
  /* border-radius: 50%; */
  padding: 20px;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.team-stats-card1 {
  display: flex;
  width: 97.5%;
  position: relative;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 50px 30px 50px;
}
.team-stats1 {
  background-color: #00695d;
  margin: 20px;
  border-radius: 20px;
  transition: 0.3s ease-out;
  box-shadow: 0px 5px 3px 0 #0d322a, 0 6px 1px 0 #024733;
  width: 19.5%;
  position: relative;
}
.team-stats1:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px 0 #000000, 0 6px 10px 0 #094945;
}
.team-stats1 h1 {
  padding: 17px 0;
  text-align: center;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.team-stats1 h2 {
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 5px 10px 15px 10px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 992px) {
  /* .team-head5{
         margin:7vh auto 2vh auto;
         width: 95%;
         }
         .team-head5 h1{
             font-size: 6vw;
             font-weight: 600;
         } */
  .team-stats-card1 {
    padding: 1vw 0;
  }
  .team-stats1 {
    width: 43%;
    margin: 2vw;
    border-radius: 30px;
    padding: 2.5vw 2vw;
  }
  .team-img1 {
    /* width: 80%;
    height: 80%; */
    height: 7.5rem;
    width: 7.5rem;
    /* width: 150px; */
    /* height: 190px; */
    aspect-ratio: 1/1;
    /* border-radius: 50%; */
    padding: 10px;
    overflow: hidden;
  }
  .team-stats1 h1 {
    font-size: 3.5vw;
    padding: 10px 0;
    letter-spacing: 0.3px;
  }
  .team-stats1 h2 {
    font-size: 0.5rem;
    letter-spacing: 0.4px;
    padding: 2px 10px 15px 0px;
  }
}

.social-media {
  display: flex;
  margin-top: 1.6vh;
}
.icon1 {
  margin-left: 75px;
}
.icon2,
.icon3 {
  margin-left: 30px;
}
.icon-color,
.icon-color1,
.icon-color2 {
  color: white;
}
.icon-color:hover {
  color: orangered;
}
.icon-color1:hover {
  color: rgb(10, 102, 194);
}
.icon-color2:hover {
  color: #4267b2;
}

@media screen and (max-width: 992px) {
  .icon1 {
    margin-left: 22px;
  }
  .icon2,
  .icon3 {
    margin-left: 20px;
  }
  .social-media {
    margin-top: 0px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1370px) {
  .icon1 {
    margin-left: 30px;
  }
  .icon2,
  .icon3 {
    margin-left: 50px;
  }
}
