/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.team-img1{
    width: 200px;
    border-radius: 50%;
    padding: 20px;
    overflow: hidden;
}
.team-stats-card1{
    display: flex;
    width: 97.5%;
    position: relative;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 50px 30px 50px;
    /* border-top: 3px solid #161c2f; */
}
.team-stats1{
    background-color: #161c2f;
    margin: 20px;
    border-radius: 20px;
    transition: 1s ease-out;
    box-shadow: 0px 4px 8px 0 #161c2f, 0 6px 20px 0 #161c2f;
    /* aspect-ratio: 2/3; */
    width: 19.5%;
    position: relative;
}
.team-stats1:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 8px 0 #1994ab, 0 6px 20px 0 #1994ab;
}
.team-stats1 h1{
    padding: 40px 0;
    text-align: center;
    color: #1994ab;
    font-size: 1.1rem;
}
.team-stats1 h2{
    color: white;
    font-size: 1.0rem;
    text-align: center;
    padding: 10px 10px;
}
@media screen and (max-width: 992px){
    .team-stats-card1{
        padding: 1vw 0;
    }
    .team-stats1{
    width: 43%;
    margin: 2vw;
    border-radius: 10vw;
    padding: 2.5vw 2vw;
    }
    .team-img1{
        width: 95%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 10px;
    }
    .team-stats1 h1{
    font-size: 3vw;
    padding: 10px 0;
    }
    /* .team-posting-sec2{
    margin-top: 1vw;
    font-size: 1000px;
    padding: 0 1.5vw;
    } */
}

