@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.team-head5{
    width: 89%;
    /* border-bottom: 3px solid #732445; */
    border-bottom: 3px solid #3ca06a;
    text-align: center;
    margin: 0vh auto 2vh auto;
    border-radius: 4px;
}
.team-head5 h1{
    font-size: 50px;
    font-weight: 600;
    /* color: #a63b49; */
    color: #03989e;
    font-family: 'Poppins', sans-serif;
}
.team-img5{
    width: 170px;
    height: 170px;
    border-radius: 30px;
    /* border-radius: 50%; */
    padding: 20px;
    overflow: hidden;
}
.team-stats-card5{
    display: flex;
    width: 97.5%;
    position: relative;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 50px 30px 50px;
}
.team-stats5{
    /* background-color: #161c2f; */
    /* background: linear-gradient(135deg, #e2564f 0%, #360940 100%); */
    background-color: #00695d;
    margin: 20px;
    border-radius: 20px;
    transition: 1s ease-out;
    /* box-shadow: 0px 4px 8px 0 #161c2f, 0 6px 20px 0 #161c2f; */
    width: 19.5%;
    position: relative;
}
.team-stats5:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 8px 0 #1994ab, 0 6px 20px 0 #000000;
}
.team-stats5 h1{
    padding: 17px 0;
    text-align: center;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.team-stats5 h2{
    color: white;
    font-size: 1.0rem;
    text-align: center;
    padding:5px 10px 15px 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
}
@media screen and (max-width: 992px){
    .team-head5{
        margin:7vh auto 2vh auto;
        width: 95%;
        }
        .team-head5 h1{
            font-size: 6vw;
            font-weight: 600;
        }
    .team-stats-card5{
        padding: 1vw 0;
    }
    .team-stats5{
    width: 43%;
    margin: 2vw;
    border-radius: 30px;
    padding: 2.5vw 2vw;
    }
    .team-img5{
        width: 80%;
        height: 80%;
        /* width: 150px; */
        /* height: 190px; */
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 10px;
    }
    .team-stats5 h1{
    font-size: 3.5vw;
    padding: 10px 0;
    letter-spacing: 0.3px;
    }
    .team-stats5 h2{
        font-size: 0.5rem;
        letter-spacing: 0.4px;
        padding: 2px 10px 15px 0px;
    }
}




.social-media{
    display: flex;
    margin-top: 1.6vh;
}
.icon1{
    margin-left: 60px;
}
.btn-icon1{
    background-color: #89be5066;
    padding: 4.5px 5px;
    cursor: pointer;
    border-radius: 7px;
}
.btn-icon1:hover{
    background-color: #00695d;
}
.icon2, .icon3{
    margin-left: 20px;
}
.icon-color,.icon-color1, .icon-color2, .icon-color3 {
    color: white;
}

/*Important */
.btn-icon1:hover .icon-color{
    color: orangered !important;
}
.btn-icon1:hover .icon-color1{
    color: #1994ab !important;
}
.btn-icon1:hover .icon-color2{
    color: antiquewhite !important;
}
.btn-icon1:hover .icon-color3{
    color: white;
}

.icon-color, .icon-color1, .icon-color2, .icon-color3{
    color: #161c2f;
}
@media screen and (max-width: 422px){
    .icon1{
        margin-left: 25px;
    }
    .icon2, .icon3{
        margin-left: 15px;
    }
    .social-media{
        margin-top: 0px;
    }
    .icon-color{
        width: 14px;
    }
    .icon-color1{
        width: 11px;
    }
    .icon-color2{
        width: 10px;
    }
    .icon-color3{
        width: 15px;
    }
    .btn-icon1{
        padding: 0.5px 6px;
    }
} 
@media screen and (max-width: 280px){
    .icon1{
        margin-left: 10px;
    }
    .icon2, .icon3{
        margin-left: 10px;
    }
    .icon-color{
        width: 14px;
    }
    .icon-color1{
        width: 10px;
    }
    .icon-color2{
        width: 8px;
    }
    .icon-color3{
        width: 13px;
    }
    .btn-icon1{
        padding: 1.3px 5.5px;
    }
}
@media only screen and (min-device-width: 281px) and (max-device-width: 375px){
    .icon1{
        margin-left: 20px;
    }
    .icon2, .icon3{
        margin-left: 10px;
    }
    .icon-color{
        width: 18px;
    }
    .icon-color1{
        width: 15px;
    }
    .icon-color2{
        width: 10px;
    }
    .icon-color3{
        width: 16.5px;
    }
}
@media only screen and (min-device-width: 376px) and (max-device-width: 400px){
    .icon2, .icon3{
        margin-left: 10px;
    }
    .icon1{
        margin-left: 30px;
    }
    .icon-color3{
        width: 14px;
    }
}
@media only screen and (min-device-width: 422px) and (max-device-width: 460px){ 
    .icon1{
        margin-left: 25px;
    }
    .icon2, .icon3{
        margin-left: 15px;
    }
    .icon-color{
        width: 25px;
    }
    .icon-color1{
        width: 18px;
    }
    .icon-color2, .icon-color3{
        width: 13px;
    }


}
@media only screen and (min-device-width: 461px) and (max-device-width: 509px){
    .icon1{
        margin-left: 28px;
    }
    .icon2, .icon3{
        margin-left: 17px;
    }
    .icon-color{
        width: 25px;
    }
    .icon-color1{
        width: 23px;
    }
    .icon-color2, .icon-color3{
        width: 23px;
    }
}
@media only screen and (min-device-width: 510px) and (max-device-width: 549px){
    .icon1{
        margin-left: 35px;
    }
}
@media only screen and (min-device-width: 550px) and (max-device-width: 590px){
    .icon1{
        margin-left: 35px;
    }
}
@media only screen and (min-device-width: 591px) and (max-device-width: 630px){
    .icon1{
        margin-left: 40px;
    }
}
@media only screen and (min-device-width: 631px) and (max-device-width: 700px){
    .icon1{
        margin-left: 50px;
    }
}
@media only screen and (min-device-width: 701px) and (max-device-width: 770px){
    .icon1{
        margin-left: 65px;
    }
}
@media only screen and (min-device-width: 771px) and (max-device-width: 840px){
    .icon1{
        margin-left: 85px;
    }
}
@media only screen and (min-device-width: 841px) and (max-device-width: 890px){
    .icon1{
        margin-left: 95px;
    }
}
@media only screen and (min-device-width: 891px) and (max-device-width: 990px){
    .icon1{
        margin-left: 100px;
    }
}
@media only screen and (min-device-width: 991px) and (max-device-width: 992px){
    .icon1{
        margin-left: 80px;
    }
    .icon2, .icon3{
        margin-left: 50px;
    }
}
@media only screen and (min-device-width: 993px) and (max-device-width: 1100px){
    .icon1{
        margin-left:23px;
    }
    .icon2, .icon3{
        margin-left: 15px;
    }
    .icon-color{
        width: 21px;
    }
    .icon-color1{
        width: 18px;
    }
    .icon-color2, .icon-color3{
        width: 13px;
    }
}
@media only screen and (min-device-width: 1101px) and (max-device-width: 1200px){
.icon1{
    margin-left: 40px;
}
.icon2, .icon3{
    margin-left: 15px;
}
}
@media only screen and (min-device-width: 1201px) and (max-device-width: 1400px){
.icon1{
    margin-left: 50px;
}
.icon2, .icon3{
    margin-left: 15px;
}
}




