@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.team-img1 {
  width: 10.625rem;
  height: 10.625rem;
  border-radius: 1.875rem;
  opacity: 0.85;
  padding: 1.25rem;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.team-stats-card1 {
  display: flex;
  width: 97.5%;
  position: relative;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.25rem 3.125rem 1.875rem 3.125rem;
}

.team-stats1 {
  background-color: var(--color-15-100);
  margin: 1.25rem;
  border-radius: 20px;
  transition: all 0.4s ease-out;
  box-shadow: 0px 5px 3px 0 var(--color-1-100), 0 6px 1px 0 var(--color-1-100);
  width: 19.5%;
  position: relative;
}

.team-stats1:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px 0 #000000, 0 6px 10px 0 var(--color-1-100);
}

.team-stats1:hover .team-img1{
  opacity: 1;
}

.team-stats1 h1 {
  padding: 17px 10px;
  text-align: center;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.team-stats1 h2 {
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 0.3125rem 1.25rem 0.9375rem 1.25rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 992px) {
  .team-stats-card1 {
    padding: 1vw 0;
  }

  .team-stats1 {
    width: 43%;
    margin: 2vw;
    border-radius: 30px;
    padding: 2.5vw 2vw;
  }

  .team-img1 {
    height: auto;
    max-width: 17.5rem;
    aspect-ratio: 1/1;
    padding: 0.625rem;
    overflow: hidden;
  }

  .team-stats1 h1 {
    font-size: 3.5vw;
    padding: 0.625rem 0.625rem;
    letter-spacing: 0.3px;
  }
  
  .team-stats1 h2 {
    font-size: 2.2vw;
    letter-spacing: 0.4px;
    padding: 0.125rem 0.625rem 0.9375rem 0.625rem;
  }
}




@media only screen and (max-width:320px){
  .team-img1{
      height: 6.5rem !important;
      width: 6.5rem !important;
  }
}

@media only screen and (max-width:660px){
  .team-img1{
      height: 7.5rem;
       width: 7.5rem;
  }
}