@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 .team-head3{
     width: 89%;
     /* border-bottom: 3px solid #732445; */
     border-bottom: 3px solid var(--color-1-100);
     text-align: center;
     margin: 0vh auto 2vh auto;
     border-radius: 4px;
 }

 .team-head3 h1{
     font-size: 3.125rem;
     font-weight: 600;
     /* color: #a63b49; */
     color: var(--color-1-100);
     font-family: 'Poppins', sans-serif;
 }

 .team-img3{
     width: 10.625rem;
     height: 10.625rem;
     border-radius: 1.875rem;
    opacity: 0.85;
     padding: 1.25rem;
     overflow: hidden;
     aspect-ratio: 1/1;
 }

 .team-stats-card3{
     display: flex;
     width: 97.5%;
     position: relative;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 1.25rem 3.125rem 1.875rem 3.125rem;
 }

 .team-stats3{
    background-color: var(--color-15-100);
     margin: 1.25rem;
     border-radius: 1.25rem;
     transition: all 0.4s ease-out;
     box-shadow: 0px 5px 3px 0 var(--color-1-100), 0 6px 1px 0 var(--color-1-100);
     width: 19.5%;
     position: relative;
 }

 .team-stats3:hover{
     transform: scale(1.05);
     box-shadow: 0px 4px 8px 0 #000000, 0 6px 10px 0 var(--color-1-100);
 }

.team-stats3:hover .team-img3{
    opacity: 1;
}

 .team-stats3 h1{
     padding: 1.0625rem 0.625rem;
     text-align: center;
     color: whitesmoke;
     font-family: 'Poppins', sans-serif;
     font-size: 1.1rem;
     letter-spacing: 0.5px;
 }

 .team-stats3 h2{
     color: white;
     font-size: 1.0rem;
     text-align: center;
     padding:0.3125rem 1.25rem 0.9375rem 1.25rem;
     font-family: 'Poppins', sans-serif;
     letter-spacing: 0.5px;
 }

 @media screen and (max-width: 992px){
     .team-head3{
         margin:7vh auto 2vh auto;
         width: 95%;
         }

         .team-head3 h1{
             font-size: 6vw;
             font-weight: 600;
         }

     .team-stats-card3{
         padding: 1vw 0;
     }

     .team-stats3{
     width: 43%;
     margin: 2vw;
     border-radius: 1.875rem;
     padding: 2.5vw 2vw;
     }

     .team-img3{
         /* width: 80%;
         height: 80%; */
         height: 7.5rem;
         width: 7.5rem;
         /* width: 150px; */
         /* height: 190px; */
     aspect-ratio: 1/1;
     /* border-radius: 50%; */
     padding: 0.625rem;
     overflow: hidden;
     }

     .team-stats3 h1{
     font-size: 3.5vw;
     padding: 0.625rem 0.625rem;
     letter-spacing: 0.3px;
     }

     .team-stats3 h2{
         font-size: 0.5rem;
         letter-spacing: 0.4px;
         padding: 0.125rem 0.625rem 0.9375rem 0.625rem;
     }
 }
 
 
 
 
 .social-media{
     display: flex;
     margin-top: 1.6vh;
 }
 .icon1{
     margin-left: 75px;
 }
 .icon2, .icon3{
     margin-left: 30px;
 }
 .icon-color,.icon-color1, .icon-color2 {
     color: white;
 }
 .icon-color:hover{
     color: orangered;
 }
 .icon-color1:hover{
     color: rgb(10, 102, 194);
 }
 .icon-color2:hover{
     color: #4267b2;
 }
 
 
 @media screen and (max-width: 992px){
     .icon1{
         margin-left: 22px;
     }
     .icon2, .icon3{
         margin-left: 20px;
     }
     .social-media{
         margin-top: 0px;
     }
 } 
 @media only screen and (min-device-width: 1024px) and (max-device-width: 1370px){
     .icon1{
         margin-left: 30px;
     }
     .icon2, .icon3{
         margin-left: 50px;
     }
 }
 
 @media only screen and (max-width:320px){
    .team-img3{
        height: 6.5rem;
        width: 6.5rem;
    }
 }
 