@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat','Varela Round','Caveat', cursive, 'Inter', sans-serif;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: linear-gradient(135deg, #093F15 0%, #137C8A 100%);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(135deg, #9EAA14 0%, #0bb5cb 100%);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(#0bb5cb, #9EAA14);
}
:root {

  --color-1-100: #0F265A /navbar/;
  --color-1-080: #35627B /navscroll/;
  --color-2-100: #2D7D88 /register now bg and timer bg/;
  --color-3-100: #ffffff /words on the timer/;
  --color-4-100: #000000 /date of junior mun only 06-08-2022 and other numbers on timer/;
  --color-5-100: #2D7D88 /all other headings with rectangular shape bg/;
  --color-6-100: #ffffff /all other words on rectangular shape bg/;
  --color-7-100: #1A1961 /lower footer/;
  --color-7-100: #2D7D88 /upper footer/;
  --color-7-100: #ffffff /media icons bg footer/;
  --color-8-100: #D8F0F8 /bg of secretary general/;
  --color-9-100: #1F1E66 /all other headings underlined/;
  --color-10-100: #1A1961 /team cards/;
  --color-10-100: #35627B /team card media icon bg/;
  --color-11-100: #1994A5 /commitee page agenda main bg/;
  --color-11-100: linear-gradient( #1A1961 , #0C78A7) /agenda bg/;
  --color-12-100: #ffffff /FAQs bg/;
  --color-12-100: #175968 /FAQs question and answer bars/;
  --color-12-038: #175968 /FAQs question bar when hover with 38% opacity/;
}