* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.clearfix{
  clear:both;
}

.team__img__holder{
  width: 10.625rem;
  height: 10.625rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 660px){
  .team__img__holder{
    width: 8rem !important;
    height: 8rem !important;
    overflow: hidden !important;
    /* margin-bottom: 2vw; */
  }
}

/* @media screen and (max-width: 300px){
  .team__img__holder{
    width: 5rem !important;
    height: 5rem !important;
  }
} */

a{
  text-decoration:none;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
a:hover{
  text-decoration:none;
  outline:none;
}

